
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rey | Api</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="https://technext.github.io/elegant/img/svg/logo.svg" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="https://technext.github.io/elegant/css/style.min.css">
</head>

<body>
  <div class="layer"></div>
<!-- ! Body -->
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
  <!-- ! Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-start">
        <div class="sidebar-head">
            <a href="/" class="logo-wrapper" title="Home">
                <span class="sr-only">Home</span>
                <span class="icon logo" aria-hidden="true"></span>
                <div class="logo-text">
                    <span class="logo-title">Rey</span>
                    <span class="logo-subtitle">Api's</span>
                </div>

            </a>
            <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                <span class="sr-only">Toggle menu</span>
                <span class="icon menu-toggle" aria-hidden="true"></span>
            </button>
        </div>
        <div class="sidebar-body">
            <ul class="sidebar-body-menu">
                <li>
                    <a class="active" href="/"><span class="icon home" aria-hidden="true"></span>Dashboard</a>
                </li>
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon document" aria-hidden="true"></span>Downloader
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                       <a class="collapse-item text-warning" href="/api/music/joox?query=akad&apikey=apirey" target="_blank" >Joox search</a>
			<a class="collapse-item text-warning" href="/api/download/ytmp4?url=https://youtu.be/6l5V3BWDcMw&apikey=apirey" target="_blank" >Youtube Video</a>
			<a class="collapse-item text-warning" href="/api/download/ytmp3?url=https://youtu.be/6l5V3BWDcMw&apikey=apirey" target="_blank" >Youtube Audio</a>
			<a class="collapse-item text-warning" href="/api/music/spotify?query=akad&apikey=apirey" target="_blank" >Spotify search</a>
			<a class="collapse-item text-warning" href="/api/yt/playmp3?query=surender&apikey=apirey" target="_blank" >play mp3</a>
            <a class="collapse-item text-warning" href="/api/yt/playmp4?query=surender&apikey=apirey" target="_blank" >play mp4</a>
			<a class="collapse-item text-warning" href="/api/yt/search?query=surender&apikey=apirey" target="_blank" >yt search</a>
            <a class="collapse-item text-warning" href="/api/download/tiktok?url=https://www.tiktok.com/@graciajessicajane/video/6910824586909076738?sender_device=pc&sender_web_id=6911703472580724225&is_from_webapp=v2&apikey=apirey" target="_blank" >Tiktok download</a>
            <a class="collapse-item text-warning" href="/api/media/twimg?url=/api/download/ig?url=https://www.instagram.com/p/CAAZ1VcA2OA&apikey=apirey" target="_blank" >Instagram download</a>
            <a class="collapse-item text-warning" href="/api/download/fb?url=https://www.facebook.com/botikaonline/videos/837084093818982&apikey=apirey" target="_blank" >Facebook download</a>
            <a class="collapse-item text-warning" href="/api/stalk/ig?username=attahalilintar&apikey=apirey" target="_blank" >Stalk Instagram</a>
			<a class="collapse-item text-warning" href="/api/stalk/tiktok?username=attahalilintar&apikey=apirey" target="_blank" >stalk tiktok</a>
      <a class="collapse-item text-warning" href="/api/stalk/npm?query=Rey&apikey=apirey" target="_blank" >stalk npm</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon folder" aria-hidden="true"></span>Textpro me
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                        <a class="collapse-item text-warning" href="/api/textpro/magma?text=reyyy&apikey=apirey" target="_blank" >magma</a>
<a class="collapse-item text-warning" href="/api/textpro/hallowen-text?text=reyyy&apikey=apirey" target="_blank" >hallowen effect</a>
<a class="collapse-item text-warning" href="/api/textpro/neon-light?text=reyyy&apikey=apirey" target="_blank" >Neon light</a>
<a class="collapse-item text-warning" href="/api/textpro/broken-glass?text=reyyy&apikey=apirey" target="_blank" >broken glass</a>
<a class="collapse-item text-warning" href="/api/textpro/art-papper?text=reyyy&apikey=apirey" target="_blank" >Art papper</a>
<a class="collapse-item text-warning" href="/api/textpro/glossy?text=reyyy&apikey=apirey" target="_blank" >glossy</a>
<a class="collapse-item text-warning" href="/api/textpro/water-color?text=reyyy&apikey=apirey" target="_blank" >water color</a>
<a class="collapse-item text-warning" href="/api/textpro/multi-color?text=reyyy&apikey=apirey" target="_blank" >multi color</a>
<a class="collapse-item text-warning" href="/api/textpro/neon-devil?text=reyyy&apikey=apirey" target="_blank" >Neon devil</a>
<a class="collapse-item text-warning" href="/api/textpro/sky-text?text=reyyy&apikey=apirey" target="_blank" >sky text</a>
<a class="collapse-item text-warning" href="/api/textpro/luxury?text=reyyy&apikey=apirey" target="_blank" >luxury</a>
<a class="collapse-item text-warning" href="/api/textpro/vintage?text=reyyy&text2=ganzzz&apikey=apirey" target="_blank" >vintage</a>
<a class="collapse-item text-warning" href="/api/textpro/writing?text=reyyy&apikey=apirey" target="_blank" >Writing</a>
<a class="collapse-item text-warning" href="/api/textpro/engraved?text=reyyy&apikey=apirey" target="_blank" >Engraved</a>
<a class="collapse-item text-warning" href="/api/textpro/glue-text?text=reyyy&apikey=apirey" target="_blank" >Glue text</a>
<a class="collapse-item text-warning" href="/api/textpro/pornhub?text=rey&text2=ganz&apikey=apirey" target="_blank" >porn HUB</a>
<a class="collapse-item text-warning" href="/api/textpro/holograpic?text=reyyy&apikey=apirey" target="_blank" >holograpic</a>
<a class="collapse-item text-warning" href="/api/textpro/deluxe-silver?text=reyyy&apikey=apirey" target="_blank" >deluxe silver</a>
<a class="collapse-item text-warning" href="/api/textpro/fabric?text=reyyy&apikey=apirey" target="_blank" >Fabric</a>
<a class="collapse-item text-warning" href="/api/textpro/wicker?text=reyyy&apikey=apirey" target="_blank" >wicker</a>
<a class="collapse-item text-warning" href="/api/textpro/larva?text=reyyy&apikey=apirey" target="_blank" >Larva</a>
<a class="collapse-item text-warning" href="/api/textpro/toxic-bokeh?text=reyyy&apikey=apirey" target="_blank" >Toxic</a>
<a class="collapse-item text-warning" href="/api/textpro/stroberi?text=reyyy&apikey=apirey" target="_blank" >strobery</a>
<a class="collapse-item text-warning" href="/api/textpro/koi?text=reyyy&apikey=apirey" target="_blank" >koi pish</a>
<a class="collapse-item text-warning" href="/api/textpro/bread?text=reyyy&apikey=apirey" target="_blank" >Bread</a>
<a class="collapse-item text-warning" href="/api/textpro/horor-blood?text=reyyy&apikey=apirey" target="_blank" >horor blood</a>
<a class="collapse-item text-warning" href="/api/textpro/honey?text=reyyy&apikey=apirey" target="_blank" >honey</a>
<a class="collapse-item text-warning" href="/api/textpro/ice?text=reyyy&apikey=apirey" target="_blank" >Ice</a>
<a class="collapse-item text-warning" href="/api/textpro/rusty?text=reyyy&apikey=apirey" target="_blank" >Rusty effect</a>
             <a class="collapse-item text-warning" href="/api/textpro/captain?text=Rey&text2=ganz&apikey=apirey" target="_blank" >captain Amerika</a>
            <a class="collapse-item text-warning" href="/api/textpro/3d-gradient?text=Rey&apikey=apirey" target="_blank" >gradien</a>
            <a class="collapse-item text-warning" href="/api/textpro/christmas?text=Rey&apikey=apirey" target="_blank" >christmas</a>
            <a class="collapse-item text-warning" href="/api/textpro/drop-water?text=Rey&apikey=apirey" target="_blank" >drop water</a>
            <a class="collapse-item text-warning" href="/api/textpro/black-pink?text=Rey&apikey=apirey" target="_blank" >blackpink</a>
            <a class="collapse-item text-warning" href="/api/textpro/logo-wolf?text=Rey&text2&apikey=apirey" target="_blank" >Logo Wolf</a>
            <a class="collapse-item text-warning" href="/api/textpro/natural-leavest?text=reyganz&apikey=apirey" target="_blank" >Natural leavest</a>
            <a class="collapse-item text-warning" href="/api/textpro/logo-wolf2?text=Rey&text2&apikey=apirey" target="_blank" >Logo Wolf 2</a>
            <a class="collapse-item text-warning" href="/api/textpro/harry-potter?text=Reyganz&apikey=apirey" target="_blank" >Harry Potter</a>
            <a class="collapse-item text-warning" href="/api/textpro/3dstone?text=Reyganz&apikey=apirey" target="_blank" >3D stone</a>
            <a class="collapse-item text-warning" href="/api/textpro/1917?text=Reyganz&apikey=apirey" target="_blank" >1917</a>
            <a class="collapse-item text-warning" href="/api/textpro/thunder2?text=reyganz&apikey=apirey" target="_blank" >Thunder 2</a>
            <a class="collapse-item text-warning" href="/api/textpro/space?text=Rey&text2=ganz&apikey=apirey" target="_blank" >Space</a>
            <a class="collapse-item text-warning" href="/api/textpro/joker-logo?text=Reyganz&apikey=apirey" target="_blank" >Joker logo</a>
            <a class="collapse-item text-warning" href="/api/textpro/hallowen?text=Reyganz&apikey=apirey" target="_blank" >hallowen</a>
            <a class="collapse-item text-warning" href="/api/textpro/blood?text=Reyganz&apikey=apirey" target="_blank" >Blood text</a>
            <a class="collapse-item text-warning" href="/api/textpro/astone?text=Reyganz&apikey=apirey" target="_blank" >Astone</a>
            <a class="collapse-item text-warning" href="/api/textpro/grafity-text?text=reyyy&apikey=apirey" target="_blank" >Grafity text</a>
            <a class="collapse-item text-warning" href="/api/textpro/grafity-text2?text=reyyy&text2=ganz&apikey=apirey" target="_blank" >Grafity text2</a>
            <a class="collapse-item text-warning" href="/api/textpro/ninja-logo?text=reyyy&text2=ganzzz&apikey=apirey" target="_blank" >Ninja logo</a>
            <a class="collapse-item text-warning" href="/api/textpro/lion-logo?text=reyyy&text2=ganzz&apikey=apirey" target="_blank" >lion logo</a>
            <a class="collapse-item text-warning" href="/api/textpro/avengers-logo?text=rey&text2=ganz&apikey=apirey" target="_blank" >Avengers</a>
            <a class="collapse-item text-warning" href="/api/textpro/marvel-logo2?text=Rey&text2=ganz" target="_blank" >Marvel studio</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon image" aria-hidden="true"></span>photooxy API
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                       <a class="collapse-item text-warning" href="/api/photooxy/army?text=reyganz&apikey=apirey" target="_blank" >Army text</a>
                        <a class="collapse-item text-warning" href="/api/maker/matrix?text=rey&apikey=apirey" target="_blank" >matrix</a>
                        <a class="collapse-item text-warning" href="/api/maker/pubglogo?text1=rey&text2=ganz&apikey=apirey" target="_blank" >PUBG</a>
                        <a class="collapse-item text-warning" href="/api/maker/breakwall?text=rey&apikey=apirey" target="_blank" >breakwall</a>
                        <a class="collapse-item text-warning" href="/api/photooxy/butterfly?text=rey&apikey=apirey" target="_blank" >butterfly</a>
                        <a class="collapse-item text-warning" href="/api/photooxy/naruto?text1=rey&apikey=apirey" target="_blank" >naruto</a>
                        <a class="collapse-item text-warning" href="/api/photooxy/smoke?text1=rey&apikey=apirey" target="_blank" >smoke text</a> 
                        <a class="collapse-item text-warning" href="/api/photooxy/burn-papper?text=rey&apikey=apirey" target="_blank" >burn papper</a>
                        <a class="collapse-item text-warning" href="/api/photooxy/love-message?text=rey&apikey=apirey" target="_blank" >love message</a>
                        <a class="collapse-item text-warning" href="/api/photooxy/love-text?text=rey&apikey=apirey" target="_blank" >love text</a>
                        <a class="collapse-item text-warning" href="/api/photooxy/coffe-cup?text=rey&apikey=apirey" target="_blank" >coffe cup</a>
                        <a class="collapse-item text-warning" href="/api/photooxy/double-heart?text=rey&apikey=apirey" target="_blank" >double heart</a>
                        <a class="collapse-item text-warning" href="/api/photooxy/glitch?text=rey&text2=ganz&apikey=apirey" target="_blank" >glitch effect</a>
                        <a class="collapse-item text-warning" href="/api/photooxy/message-under-grass?text=rey&apikey=apirey" target="_blank" >message under grass</a>                                     
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon paper" aria-hidden="true"></span>Fun & kuis
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                        <a class="collapse-item text-warning" href="/api/kuis/tebakGambar?apikey=apirey" target="_blank" >tebak gambar</a>
                        <a class="collapse-item text-warning" href="/api/kuis/caklontong?apikey=apirey" target="_blank" >caklontong</a>
                        <a class="collapse-item text-warning" href="/api/blackpink?apikey=apirey" target="_blank" >random blackpink</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon paper" aria-hidden="true"></span>Random API
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                        <a class="collapse-item text-warning" href="/api/wallpaper/boruto?apikey=apirey" target="_blank" >Random boruto</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/sasuke?apikey=apirey" target="_blank" >Random sasuke</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/elaina?apikey=apirey" target="_blank" >anime elaina</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/yuri?apikey=apirey" target="_blank" >anime yuri</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/erza?apikey=apirey" target="_blank" >Random erza</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/hinata?apikey=apirey" target="_blank" >anime hinata</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/minato?apikey=apirey" target="_blank" >Random minato</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/naruto?apikey=apirey" target="_blank" >Random Naruto</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/sagiri?apikey=apirey" target="_blank" >Random Sagiri</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/nezuko?apikey=apirey" target="_blank" >Random nezuko</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/rize?apikey=apirey" target="_blank" >Random rize</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/sakura?apikey=apirey" target="_blank" >Random sakura</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/sasuke?apikey=apirey" target="_blank" >Random Sasuke</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/tsunade?apikey=apirey" target="_blank" >Random Tsunade</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/onepiece?apikey=apirey" target="_blank" >Random one piece</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/mobil?apikey=apirey" target="_blank" >Random mobil</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/montor?apikey=apirey" target="_blank" >Random montor</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/boneka-chucky?apikey=apirey" target="_blank" >Random boneka chucky</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/justina?apikey=apirey" target="_blank" >Random justina xie</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/random/blackpink?apikey=apirey" target="_blank" >Random blackpink</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/doraemon?apikey=apirey" target="_blank" >Random Doraemon</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/ppcouple?apikey=apirey" target="_blank" >Random ppcouple</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/kpop?apikey=apirey" target="_blank" >Random kpop</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/hekel?apikey=apirey" target="_blank" >Random hekel</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/pubg?apikey=apirey" target="_blank" >Random PUBG</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/cogan?apikey=apirey" target="_blank" >Random cogan</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/cecan?apikey=apirey" target="_blank" >Random cecan</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/aesthetic?apikey=apirey" target="_blank" >Random Aesthetic</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/wallhp?apikey=apirey" target="_blank" >Random wallhp aesthetic</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/anime?apikey=apirey" target="_blank" >Random wallhp anime</a>
                        <a class="collapse-item text-warning" href="/api/asupan?apikey=apirey" target="_blank" >Random asupan</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/kucing?apikey=apirey" target="_blank" >Random Kucing</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/anjing?apikey=apirey" target="_blank" >Random Anjing</a>
                        </li>
                    </ul>
                </li>
              <li>
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon paper" aria-hidden="true"></span>Maker others
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                        <a class="collapse-item text-warning" href="/api/maker/harta-tahta?text=reyganz&apikey=apirey" target="_blank" >harta tahta</a>
                        <a class="collapse-item text-warning" href="/api/maker/silverbutton?text=reyganz&apikey=apirey" target="_blank" >silver button (by vinz)</a>
                        <a class="collapse-item text-warning" href="/api/maker/goldbutton?text=reyganz&apikey=apirey" target="_blank" >gold button (by vinz)</a>
                        <a class="collapse-item text-warning" href="/api/maker/nulis?text=reyganz&apikey=apirey" target="_blank" >nulis buku</a>
                        <a class="collapse-item text-warning" href="/api/maker/emoji2png?text=😅&apikey=apirey" target="_blank" >emoji 2png</a>
                        </li>
                    </ul>
                </li>
              <li>
                <a class="show-cat-btn" href="##">
                        <span class="icon paper" aria-hidden="true"></span>anime API
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                        <a class="collapse-item text-warning" href="/api/wallpaper/waifu?apikey=apirey" target="_blank" >Waifu</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/waifu2?apikey=apirey" target="_blank" >Waifu2</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/nsfwloli?apikey=apirey" target="_blank" >Nswf loli</a>
                        <a class="collapse-item text-warning" href="/api/wallpaper/shota?apikey=apirey" target="_blank" >shota</a>
		        <a class="collapse-item text-warning" href="/api/wallpaper/loli?apikey=apirey" target="_blank" >anime loli</a>
                        </li>
                    </ul>
                </li>
        </div>
    <div class="sidebar-footer">
        <a href="##" class="sidebar-user">
            <span class="sidebar-user-img">
                <picture><source srcset="https://avatars.githubusercontent.com/u/85196372?s=400&u=d02ac8f49deb6e049f70b27b0787c394de7b5c36&v=4.jpg" type="image/webp"><img src="./img/avatar/avatar-illustrated-01.png" alt="User name"></picture>
            </span>
            <div class="sidebar-user-info">
                <span class="sidebar-user__title">Rey sekha</span>
                <span class="sidebar-user__subtitle">Dev Web</span>
            </div>
        </a>
    </div>
</aside>
  <div class="main-wrapper">
    <!-- ! Main nav -->
    <nav class="main-nav--bg">
  <div class="container main-nav">
    <div class="main-nav-start">
      <div class="search-wrapper">
        <i data-feather="search" aria-hidden="true"></i>
        <input type="text" placeholder="Enter keywords ..." required>
      </div>
    </div>
    <div class="main-nav-end">
      <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
        <span class="sr-only">Toggle menu</span>
        <span class="icon menu-toggle--gray" aria-hidden="true"></span>
      </button>
      <div class="lang-switcher-wrapper">
        <button class="lang-switcher transparent-btn" type="button">
          EN
          <i data-feather="chevron-down" aria-hidden="true"></i>
        </button>
        <ul class="lang-menu dropdown">
          <li><a href="##">English</a></li>
          <li><a href="##">French</a></li>
          <li><a href="##">Uzbek</a></li>
        </ul>
      </div>
      <button class="theme-switcher gray-circle-btn" type="button" title="Switch theme">
        <span class="sr-only">Switch theme</span>
        <i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
        <i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
      </button>
      <div class="notification-wrapper">
        <button class="gray-circle-btn dropdown-btn" title="To messages" type="button">
          <span class="sr-only">To messages</span>
          <span class="icon notification active" aria-hidden="true"></span>
        </button>
        <ul class="users-item-dropdown notification-dropdown dropdown">
          <li>
            <a href="##">
              <div class="notification-dropdown-icon info">
                <i data-feather="check"></i>
              </div>
              <div class="notification-dropdown-text">
                <span class="notification-dropdown__title">System just updated</span>
                <span class="notification-dropdown__subtitle">succes update template</span>
              </div>
            </a>
          </li>
          <li>
            <a href="##">
              <div class="notification-dropdown-icon danger">
                <i data-feather="info" aria-hidden="true"></i>
              </div>
              <div class="notification-dropdown-text">
                <span class="notification-dropdown__title">Info limit apikey</span>
                <span class="notification-dropdown__subtitle">Unlimited key!</span>
              </div>
            </a>
          </li>
          <li>
            <a href="##">
              <div class="notification-dropdown-icon info">
                <i data-feather="check" aria-hidden="true"></i>
              </div>
              <div class="notification-dropdown-text">
                <span class="notification-dropdown__title">APIKEY!</span>
                <span class="notification-dropdown__subtitle">custom apikey? chat me free!</span>
              </div>
            </a>
          </li>
          <li>
            <a class="link-to-page" href="##">Go to Notifications page</a>
          </li>
        </ul>
      </div>
      <div class="nav-user-wrapper">
        <button href="##" class="nav-user-btn dropdown-btn" title="My profile" type="button">
          <span class="sr-only">My profile</span>
          <span class="nav-user-img">
            <picture><source srcset="https://avatars.githubusercontent.com/u/85196372?s=400&u=d02ac8f49deb6e049f70b27b0787c394de7b5c36&v=4.jpg" type="image/webp"><img src="./img/avatar/avatar-illustrated-02.png" alt="User name"></picture>
          </span>
        </button>
        <ul class="users-item-dropdown nav-user-dropdown dropdown">
          <li><a href="##">
              <i data-feather="user" aria-hidden="true"></i>
              <span>Profile</span>
            </a></li>
          <li><a href="##">
              <i data-feather="settings" aria-hidden="true"></i>
              <span>Account settings</span>
            </a></li>
          <li><a class="danger" href="##">
              <i data-feather="log-out" aria-hidden="true"></i>
              <span>Log out</span>
            </a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
    <!-- ! Main -->
    <main class="main users chart-page" id="skip-target">
      <div class="container">
        <h2 class="main-title">Dashboard</h2>
        <div class="row stat-cards">
          <div class="col-md-6 col-xl-3">
            <article class="stat-cards-item">
              <div class="stat-cards-icon primary">
                <i data-feather="bar-chart-2" aria-hidden="true"></i>
              </div>
              <div class="stat-cards-info">
                <p class="stat-cards-info__num">412</p>
                <p class="stat-cards-info__title">Total users</p>
                <p class="stat-cards-info__progress">
                  <span class="stat-cards-info__profit success">
                    <i data-feather="trending-up" aria-hidden="true"></i>4.07%
                  </span>
                  Last month
                </p>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-xl-3">
            <article class="stat-cards-item">
              <div class="stat-cards-icon warning">
                <i data-feather="file" aria-hidden="true"></i>
              </div>
              <div class="stat-cards-info">
                <p class="stat-cards-info__num">7628</p>
                <p class="stat-cards-info__title">Total visits</p>
                <p class="stat-cards-info__progress">
                  <span class="stat-cards-info__profit success">
                    <i data-feather="trending-up" aria-hidden="true"></i>0.24%
                  </span>
                  Last month
                </p>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-xl-3">
            <article class="stat-cards-item">
              <div class="stat-cards-icon purple">
                <i data-feather="file" aria-hidden="true"></i>
              </div>
              <div class="stat-cards-info">
                <p class="stat-cards-info__num">4786</p>
                <p class="stat-cards-info__title">Total request</p>
                <p class="stat-cards-info__progress">
                  <span class="stat-cards-info__profit danger">
                    <i data-feather="trending-down" aria-hidden="true"></i>1.64%
                  </span>
                  Last month
                </p>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-xl-3">
            <article class="stat-cards-item">
              <div class="stat-cards-icon success">
                <i data-feather="feather" aria-hidden="true"></i>
              </div>
              <div class="stat-cards-info">
                <p class="stat-cards-info__num">197</p>
                <p class="stat-cards-info__title">Total feature</p>
                <p class="stat-cards-info__progress">
                  <span class="stat-cards-info__profit warning">
                    <i data-feather="trending-up" aria-hidden="true"></i>0.00%
                  </span>
                  Last month
                </p>
              </div>
            </article>
          </div>
        </div>
    </main>
    <!-- ! Footer -->
    <footer class="footer">
  <div class="container footer--flex">
    <div class="footer-start">
      <p>2021 © Made with By Rey ❤️ <a href="www.reysekha.my.id" target="_blank"
          rel="noopener noreferrer">github.com/inirey</a></p>
  </div>
</div>
<!-- Chart library -->
<script src="https://technext.github.io/elegant/plugins/chart.min.js"></script>
<!-- Icons library -->
<script src="https://technext.github.io/elegant/plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="https://technext.github.io/elegant/js/script.js"></script>
</body>

</html>
