

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport" />
      <title>ArdiTech07</title>
      <!-- General CSS Files -->
      <link rel="stylesheet" href="https://h4ck3rs404-api.herokuapp.com/assets/css/app.min.css" />
      <!-- Template CSS -->
      <link rel="stylesheet" href="https://h4ck3rs404-api.herokuapp.com/assets/css/style.css" />
      <link rel="stylesheet" href="https://h4ck3rs404-api.herokuapp.com/assets/css/components.css" />
      <!-- Custom style CSS -->
      <link rel="stylesheet" href="https://h4ck3rs404-api.herokuapp.com/assets/css/custom.css" />
      <link rel="shortcut icon" type="image/x-icon" href="https://i.ibb.co/RPRDJcW/IMG-20210619-164733.jpg" />

   </head>
   
<body>

<script src="https://unpkg.com/feather-icons"></script>

</body>



   <body>

      <div class="loader"></div>

      <div id="app">

         <div class="main-wrapper main-wrapper-1">

            <div class="navbar-bg"></div>

            <nav class="navbar navbar-expand-lg main-navbar sticky">

               <div class="form-inline mr-auto">

                  <ul class="navbar-nav mr-3">

                     <li>

                        <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn"> <i data-feather="align-justify"></i></a>

                     </li>

                     <li>

                        <a href="#" class="nav-link nav-link-lg fullscreen-btn">

                           <i data-feather="maximize"></i>

                        </a>

                     </li>

                     <li>

                        <form class="form-inline mr-auto">

                           <div class="search-element">

                              <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200" />

                              <button class="btn" type="submit">

                                 <i class="fas fa-search"></i>

                              </button>

                           </div>

                        </form>

                     </li>

                  </ul>

               </div>

               <ul class="navbar-nav navbar-right">

                  <li class="dropdown dropdown-list-toggle">

                     <a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle"><i data-feather="mail"></i> <span class="badge headerBadge1"> 2 </span> </a>

                     <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">

                        <div class="dropdown-header">

                           Message

                           <div class="float-right">

                              <a href="#">Notifikasi</a>

                           </div>

                        </div>

                        <div class="dropdown-list-content dropdown-list-message">

                           <a href="#" class="dropdown-item">

                              <span class="dropdown-item-avatar text-white"> <img alt="image" src="https://i.ibb.co/RPRDJcW/IMG-20210619-164733.jpg" class="rounded-circle" /> </span>

                              <span class="dropdown-item-desc">

                                 <span class="message-user">ArdiTech07</span>

                                 <span class="time messege-text">Pakai Seadanya Dulu Stah</span>

                                 <span class="time">2 July - 2021</span>

                              </span>

                           </a>

                           <a href="#" class="dropdown-item">

                              <span class="dropdown-item-avatar text-white">

                                 <img alt="image" src="https://i.ibb.co/RPRDJcW/IMG-20210619-164733.jpg" class="rounded-circle" />

                              </span>

                              <span class="dropdown-item-desc">

                                 <span class="message-user">ArdiTech07</span> <span class="time messege-text">Jangan Lupa Subscribe ArdiTech07</span>

                                 <span class="time">28 Juny - 2021</span>

                              </span>
                           				   
                           </a>

                        </div>

                        <div class="dropdown-footer text-center">

                           <a href="#">Pesal Lainnya...</a>

                        </div>

                     </div>

                  </li>

                  <li class="dropdown dropdown-list-toggle">

                     <a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg"><i data-feather="bell" class="bell"></i> </a>

                     <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">

                        <div class="dropdown-header">

                           Notifications

                           <div class="float-right">

                              <a href="#">Mark All As Read</a>

                           </div>

                        </div>

                        <div class="dropdown-list-content dropdown-list-icons">

                           <a href="#" class="dropdown-item dropdown-item-unread">

                              <span class="dropdown-item-icon bg-primary text-white"> <i data-feather="code"></i> </span> <span class="dropdown-item-desc"> Nemu bug Report Via WhatsApp Ok!<span class="time">Yesterday</span> </span>

                           </a>

                        </div>

                        <div class="dropdown-footer text-center">

                           <a href="#">Pesal Lainnya...</a>

                        </div>

                     </div>

                  </li>

                  <li class="dropdown">

                     <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">

                        <img alt="image" src="https://i.ibb.co/RPRDJcW/IMG-20210619-164733.jpg" class="user-img-radious-style" /> <span class="d-sm-none d-lg-inline-block"></span>

                     </a>

                     <div class="dropdown-menu dropdown-menu-right pullDown">

                        <div class="dropdown-title">ArdiTech07 - RestApi</div>

                        <a href="https://wa.me/6288221400832?text=Assalamualaikum+Bang+Apikeynya+apa?" class="dropdown-item has-icon"> <i data-feather="key"></i> Apikey </a>

                        <a href="/about" class="dropdown-item has-icon"><i data-feather="info"></i> About</a>

                     </div>

                  </li>

               </ul>

            </nav>

            <div class="main-sidebar sidebar-style-2">

               <aside id="sidebar-wrapper">

                  <div class="sidebar-brand">

                     <a href="/"> <span class="logo-name">ArdiTech - RestApi</span> </a>

                  </div>

                  <div class="sidebar-user">

                     <div class="sidebar-user-picture">

		         <img alt="image" src="https://i.ibb.co/RPRDJcW/IMG-20210619-164733.jpg" />

                     </div>

                     <div class="sidebar-user-details">

                        <div class="user-name">ArdiTech07</div>

                        <div class="user-role">Developer</div>

                     </div>

                  </div>

                  <ul class="sidebar-menu">

                     <li class="menu-header">Main</li>

                     <li>

                        <a href="/" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>

                     </li>

                     </li>

                     <li class="menu-header">Menu</li>

                     <li class="dropdown">                        
<a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="edit-2"></i><span>Photooxy Text</span></a>

                        <ul class="dropdown-menu">

                   <a class="nav-link" href="/api/photooxy/shadow?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Shadow Text</a>

		           <a class="nav-link" href="/api/photooxy/romantic?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Romantic Text</a>

		           <a class="nav-link" href="/api/photooxy/smoke?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Smoke Text</a>

		           <a class="nav-link" href="/api/photooxy/burn-paper?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Burn paper Text</a>

		           <a class="nav-link" href="/api/photooxy/naruto?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Naruto Text</a>

		           <a class="nav-link" href="/api/photooxy/love-message?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Love Text</a>

		           <a class="nav-link" href="/api/photooxy/message-under-grass?apikey=Masukkan_ApikeyNya&text=Yuda" target="_blank">Under Grass Text</a>

		           <a class="nav-link" href="/api/photooxy/glitch?apikey=Masukkan_ApikeyNya&text=Yuda&text2=Rest APIs" target="_blank">Glitch Text</a>

		           <a class="nav-link" href="api/photooxy/double-heart?apikey=Masukkan_Apikeynya&text=Yuda" target="_blank">double heart text</a>

		           <a class="nav-link" href="api/photooxy/butterfly?apikey=Masukkan_Apikeynya&text=Yuda" target="_blank">Flower Text</a>
                
                   <a class="nav-link" href="api/photooxy/coffe-cup?apikey=Masukkan_Apikeynya&text=Yuda" target="_blank">CoffeCup Text</a>

  
                        </ul>

                     </li>
   <li class="dropdown">                        
<a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="edit-2"></i><span> Text Pro</span></a>

                        <ul class="dropdown-menu">

                   <a class="nav-link" href="/api/textpro/natural-leaves?apikey=Masukkan_ApikeyNya&text=Eka" target="_blank">Natural-leaves Text</a>

		           <a class="nav-link" href="/api/textpro/black-pink?apikey=Masukkan_ApikeyNya&text=Eka" target="_blank">Blackpink Text</a>

		           <a class="nav-link" href="/api/textpro/drop-water?apikey=Masukkan_ApikeyNya&text=Eka" target="_blank">Dropwater Text</a>

		           <a class="nav-link" href="/api/textpro/logo-wolf?apikey=Masukkan_ApikeyNya&text=Eka&text2=Danu" target="_blank">Logo Wolf</a>

		           <a class="nav-link" href="/api/textpro/logo-wolf2?apikey=Masukkan_ApikeyNya&text=Eka&text2=Danu" target="_blank">Logo Wolf2</a>

		           <a class="nav-link" href="/api/textpro/christmas?apikey=Masukkan_ApikeyNya&text=Eka" target="_blank">Christmas Text Image</a>

		           <a class="nav-link" href="/api/textpro/3d-gradient?apikey=Masukkan_ApikeyNya&text=Eka" target="_blank">3D Gradient Text Image</a>

		           <a class="nav-link" href="/api/textpro/porn-hub?apikey=Masukkan_ApikeyNya&text1=Eka&text2=Gans" target="_blank">Pornhub Text</a>
                        </ul>

                     </li>
                   <li class="dropdown">                        
                   <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="edit-2"></i><span>Maker Menu</span></a>

                   <ul class="dropdown-menu">
                  
                   <a class="nav-link" href="/api/maker/nulis?apikey=Masukkan_ApikeyNya&text=Awokwokwok Mager yaa:v" target="_blank">Nulis Buku</a>

                   <a class="nav-link" href="/api/maker/tololserti?apikey=Masukkan_ApikeyNya&text=Eka" target="_blank">Tolol Serti</a>

		           <a class="nav-link" href="/api/maker/attp?apikey=Masukkan_ApikeyNya&text=Eka" target="_blank">Attp</a>

		           <a class="nav-link" href="/api/maker/ttp?apikey=Masukkan_ApikeyNya&text=Eka" target="_blank">Ttp</a>

		           <a class="nav-link" href="/api/maker/emoji2png?apikey=Masukkan_ApikeyNya&text=😂" target="_blank">EmojinToPng</a>
                   <a class="nav-link" href="/api/maker/skatch?apikey=Masukkan_ApikeyNya&url=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbmrYfgiRt1lLwNgRMgMbID62qH3EQ2T1c6RUJEQMcoCWKqVVxAg7R_LfM&s=10" target="_blank">Skatch Effect</a>

		       
		              <a class="nav-link" href="/api/maker/harta-tahta?apikey=Masukkan_ApikeyNya&text=Eka" target="_blank">Harta Tahta</a>
               
                     </ul>
                  </li>


                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="download"></i><span>Media</span></a>

                        <ul class="dropdown-menu">

                           <a class="nav-link" href="/api/download/ig?url=https://www.instagram.com/p/CNtpwxuH5NK/?igshid=g26k5coikzwr&apikey=Masukkan_ApikeyNya" target="_blank">Ig Download</a>
		           <a class="nav-link" href="/api/download/fb?url=https://www.facebook.com/alanwalkermusic/videos/277641643524720&apikey=Masukkan_ApikeyNya" target="_blank">Facebook Downloader</a>

		           <a class="nav-link" href="/api/download/tiktok?url=https://vt.tiktok.com/ZSJhvu1AE/&apikey=Masukkan_ApikeyNya" target="_blank">Tiktok Downloader</a>

		           <a class="nav-link" href="/api/yt/playmp3?query=Monolog-pamungkas&apikey=Masukkan_ApikeyNya" target="_blank">Ytmp3</a>

		           <a class="nav-link" href="/api/yt/playmp4?query=Monolog-pamungkas&apikey=Masukkan_ApikeyNya" target="_blank">Ytmp4</a>


                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="umbrella"></i><span>Islami</span></a>

                        <ul class="dropdown-menu">

		           <a class="nav-link" href="/api/hadits?kitab=bukhari&nomor=52&apikey=APIKEY" target="_blank">Hadits Shahih</a>

		           <a class="nav-link" href="/api/quran?surah=1&ayat=2&apikey=APIKEY" target="_blank">Al Qur'an</a>

		           <a class="nav-link" href="/api/muslim/tahlil?apikey=APIKEY" target="_blank">Doa Tahlil</a>

		           <a class="nav-link" href="/api/muslim/wirid?apikey=MASUKAN_APIKEY" target="_blank">Doa Wirid</a>

		           <a class="nav-link" href="/api/muslim/asmaulhusna?apikey=MASUKAN_APIKEY" target="_blank">Asmaul Husna</a>

		           <a class="nav-link" href="/api/muslim/doaharian?apikey=MASUKAN_APIKEY" target="_blank">Doa Harian</a>

		           <a class="nav-link" href="/api/muslim/ayatkursi?apikey=MASUKAN_APIKEY" target="_blank">Ayat Kursi</a>

		           <a class="nav-link" href="/api/kisahnabi?nabi=muhammad&apikey=MASUKAN_APIKEY" target="_blank">Kisah Nabi</a>

		           <a class="nav-link" href="/api/muslim/niatshalat?apikey=MASUKAN_APIKEY" target="_blank">Niat Shalat</a>

		           <a class="nav-link" href="/api/muslim/bacaanshalat?apikey=MASUKAN_APIKEY" target="_blank">Bacaan Shalat</a>

		           <a class="nav-link" href="/api/jadwalshalat?kota=jakartautara&apikey=MASUKAN_APIKEY" target="_blank">Jadwal Shalat</a>
                           
			</ul>

                     </li>




                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="feather"></i><span>Fun & Game</span></a>

                        <ul class="dropdown-menu">

                           <a class="nav-link" href="/api/kuis/caklontong?apikey=APIKEY" target="_blank">Cak Lontong (by Zahir)</a>

                           <a class="nav-link" href="/api/kuis/tebakgambar?apikey=APIKEY" target="_blank">Tebak Gambar (by Zahir)</a>

                           <a class="nav-link" href="/api/kuis/family100?apikey=APIKEY" target="_blank">family100</a>

                           <a class="nav-link" href="/api/kuis/tebakbendera?apikey=APIKEY" target="_blank">tebak bendera</a>

                           <a class="nav-link" href="/api/asupan?apikey=APIKEY" target="_blank">asupan</a>

                           <a class="nav-link" href="/api/cecan?apikey=APIKEY" target="_blank">cecan</a>
                          
                           <a class="nav-link" href="/api/cersex?apikey=APIKEY" target="_blank">cersex</a>

                           <a class="nav-link" href="api/simsimi/?text=hai&apikey=APIKEY" target="_blank">SimSimi</a>

                        </ul>

                     </li>


                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="zoom-in"></i><span>Stalk</span></a>

                        <ul class="dropdown-menu">

                           <a class="nav-link" href="/api/stalk/tiktok?apikey=Masukkan_ApikeyNya&username=chikakiku" target="_blank">Tiktok</a>

                           <a class="nav-link" href="/api/stalk/ig?apikey=Masukkan_ApikeyNya&username=ekagans_02" target="_blank">Instagram</a>



                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="anchor"></i><span>Primbon</span></a>

                        <ul class="dropdown-menu">

	                   <a class="collapse-item" href="/api/random/quotes?apikey=Masukkan_ApikeyNya" target="_blank">Quotes</a>

			             <a class="collapse-item" href="/api/random/quotes/kanye?apikey=Masukkan_ApikeyNya" target="_blank">Quotes kanye<br></a>

	                   <a class="collapse-item" href="/api/gabut?apikey=APIKEY" target="_blank">Gaboet</a>

	                   <a class="collapse-item" href="/api/artinama/?nama=Yuda&apikey=Apikey" target="_blank">Artinama</a>

	                   <a class="collapse-item" href="/api/tanggaljadian/?tgl=30&bln=02&thn=2018&apikey=apikey" target="_blank">Makna Tanggal Jadian</a>

                        </ul>

                     </li>

                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="anchor"></i><span>Ucapan/Waktu</span></a>

                        <ul class="dropdown-menu">

	                   <a class="collapse-item" href="/api/ucapan-wib?apikey=ekagans" target="_blank">Ucapan Wib</a>

			             <a class="collapse-item" href="/api/ucapan-wita?apikey=ekagans" target="_blank">Ucapan Wita<br></a>

	                   <a class="collapse-item" href="/api/ucapan-wit?apikey=" target="_blank">Ucapan Wit</a>

	                   <a class="collapse-item" href="/api/tahunbaru?apikey=ekagans" target="_blank">Ucapan Tahun Baru</a>

	                   <a class="collapse-item" href="/api/hitungmundur?apikey=ekagans" target="_blank">Hitung Mundur</a>

                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="compass"></i><span>News</span></a>

                        <ul class="dropdown-menu">

		           <a class="collapse-item" href="/api/news/cnn?type=JENIS_BERITA&apikey=APIKEY" target="_blank">CNN News</a>

		           <a class="collapse-item" href="/api/news/cnbc?type=JENIS_BERITA&apikey=MASUKKAN_APIKEY" target="_blank">CNBC News</a>

		           <a class="collapse-item" href="/api/news/republika?type=JENIS_BERITA&apikey=MASUKKAN_APIKEY" target="_blank">Republika News</a>

	    	  	   <a class="collapse-item" href="/api/news/tempo?type=JENIS_BERITA&apikey=MASUKKAN_APIKEY" target="_blank">Tempo News</a>

		           <a class="collapse-item" href="/api/news/antara?type=JENIS_BERITA&apikey=MASUKKAN_APIKEY" target="_blank">Antara news</a>

		           <a class="collapse-item" href="/api/news/kumparan?type=JENIS_BERITA&apikey=MASUKKAN_APIKEY" target="_blank">Kumparan news</a>


                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle collapse-item has-dropdown"><i data-feather="image"></i><span>Wallpaper & Image</span></a>

                        <ul class="dropdown-menu">

		           <a class="collapse-item" href="/api/wallpaper/teknologi?apikey=MASUKAN_APIKEY" target="_blank">Wallpaper Teknologi</a>

		           <a class="collapse-item" href="/api/wallpaper/programming?apikey=MASUKAN_APIKEY" target="_blank">Wallpaper Programming</a>

		           <a class="collapse-item" href="/api/wallpaper/cyberspace?apikey=MASUKAN_APIKEY" target="_blank">Wallpaper CyberSpace</a>

		           <a class="collapse-item" href="/api/wallpaper/muslim?apikey=MASUKAN_APIKEY" target="_blank">Wallpaper Muslim</a>

 		           <a class="collapse-item" href="/api/wallpaper/pegunungan?apikey=MASUKAN_APIKEY" target="_blank">Wallpaper Mountain View</a>


                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="disc"></i><span>Anime API</span></a>

                        <ul class="dropdown-menu">

		           <a class="collapse-item" href="/api/waifu?apikey=APIKEY" target="_blank">Waifu</a>

		           <a class="collapse-item" href="/api/nekonime?apikey=APIKEY" target="_blank">Nekonime</a>

                           <a class="collapse-item" href="/api/1cak?apikey=APIKEY" target="_blank">Random 1CAK</a>

		           <a class="collapse-item" href="/api/neonimebatch?url=https://neonime.vip/batch/eromanga-sensei-bd-batch-subtitle-indonesia/&apikey=APIKEY" target="_blank">Neonime batch</a>

		           <a class="collapse-item" href="/api/neonime?q=Shizuka&apikey=APIKEY" target="_blank">Neonime search</a>

		           <a class="collapse-item" href="/api/manga?search=kimetsu no yaiba&apikey=APIKEY" target="_blank">Mangga</a>

		           <a class="collapse-item" href="/api/anime/kusonime?search=planetarian&apikey=APIKEY" target="_blank">Kusonime search</a>

                           <a class="collapse-item" href="/api/dewabatch?q=one piece&apikey=APIKEY" target="_blank">Dewabatch</a>

                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="sliders"></i><span>Random</span></a>

                        <ul class="dropdown-menu">


		           <a class="collapse-item" href="/api/random/meme?apikey=MASUKIN_APIKEY" target="_blank">Meme</a>

		           <a class="collapse-item" href="/api/random/wallpaper?apikey=MASUKIN_APIKEY" target="_blank">Wallpaper</a>

		           <a class="collapse-item" href="/api/nickepep?apikey=MASUKIN_APIKEY" target="_blank">nickepep<br></a>

                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="cloud-snow"></i><span>BMKG</span></a>

                        <ul class="dropdown-menu">

		           <a class="collapse-item" href="/api/infogempa?apikey=MASUKAN_APIKEY" target="_blank">Info Gempa</a>

		           <a class="collapse-item" href="/api/cuaca?kabupaten=kab bungo&apikey=MASUKAN_APIKEY" target="_blank">Info Cuaca</a>

		           <a class="collapse-item" href="/api/covidindo?apikey=MASUKAN_APIKEY" target="_blank">Covid Indo</a>

    		           <a class="collapse-item" href="/api/covidworld?apikey=MASUKAN_APIKEY" target="_blank">Covid World</a>

                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="flag"></i><span>Education</span></a>

                        <ul class="dropdown-menu">


		           <a class="collapse-item" href="/api/wikipedia?search=jembatan&apikey=MASUKAN_APIKEY" target="_blank">Wikipedia</a>

		           <a class="collapse-item" href="/api/kbbi?kata=pohon&apikey=MASUKAN_APIKEY" target="_blank">KBBI</a>

		           <a class="collapse-item" href="/api/gabut?apikey=MASUKAN_APIKEY" target="_blank">Gabut</a>

		           <a class="collapse-item" href="/api/translate?kata=hi&apikey=MASUKAN_APIKEY" target="_blank">Translate</a>

                           <a class="collapse-item" href="/api/brainly?q=cara%20membuat%20Tuhan&apikey=MASUKAN_APIKEY" target="_blank">Brainly</a>

                           <a class="collapse-item" href="/api/kodepos?kota=jakarta&apikey=APIKEY" target="_blank">kodepos</a>

                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="/" class="menu-toggle nav-link has-dropdown"><i data-feather="tv"></i><span>Film</span></a>

                        <ul class="dropdown-menu">

		           <a class="collapse-item" href="/api/filmapik/terbaru?apikey=MASUKAN_APIKEY" target="_blank">Film Terbaru (Film Apik)</a>

		           <a class="collapse-item" href="/api/ck21/search?q=dilan&apikey=MASUKAN_APIKEY" target="_blank">Cari Film (Cinema Keren21)</a>

		           <a class="collapse-item" href="/pn21/search?film=dilan&apikey=MASUKAN_APIKEY" target="_blank">Cari Film (Pop CorN21)</a>

		           <a class="collapse-item" href="/api/lk21/search?film=avenger&apikey=MASUKAN_APIKEY" target="_blank">Cari Film (LK21)</a>

		           <a class="collapse-item" href="/api/lk21/terbaru?apikey=MASUKAN_APIKEY" target="_blank">Film Terbaru (LK21)</a>

		           <a class="collapse-item" href="/api/lk21/comingsoon?apikey=MASUKAN_APIKEY" target="_blank">Film Yg Akan Datang (LK21)</a>

		           <a class="collapse-item" href="/api/lk21/tvseries?apikey=MASUKAN_APIKEY" target="_blank">Series TV (LK21)</a>

		           <a class="collapse-item" href="/api/lk21/year?tahun=2021&apikey=MASUKAN_APIKEY" target="_blank">Berdasarkan Tahun (LK21)</a>

		           <a class="collapse-item" href="/api/lk21/country?negara=indonesia&apikey=MASUKAN_APIKEY" target="_blank">Berdasarkan Negara (LK21)</a>

		           <a class="collapse-item" href="/api/lk21/genre?tipe=action&apikey=MASUKAN_APIKEY" target="_blank">Berdasarkan Genre (LK21)</a>

                        </ul>

                     </li>

                    

                     <li class="dropdown">

                        <a href="/" class="menu-toggle nav-link has-dropdown"><i data-feather="phone"></i><span>Spammer</span></a>

                        <ul class="dropdown-menu">

                        	<a class="collapse-item" href="/api/spamcall?number=85671568291&apikey=MASUKAN_APIKEY" target="_blank">Spam Call</a>

                                <a class="collapse-item" href="/api/spamsms?number=085671568291&jumlah=5&apikey=MASUKAN_APIKEY" target="_blank">Spam SMS</a>

                                <a class="collapse-item" href="/api/spamgmail?gmail=testgmail@gmail.com&jumlah=5&apikey=MASUKAN_APIKEY" target="_blank">Spam Gmail</a>



                        </ul>

                     </li>


                           
                   <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="book" aria-hidden="true"></i><span>Other</span></a>

                        <ul class="dropdown-menu">

             <a class="collapse-item" href="/api/infonpm?query=rey-api&hostname=rey&apikey=MASUKAN_APIKEY" target="_blank">Info NPM</a>

            <a class="collapse-item" href="/api/short/tiny?url=google.com&apikey=MASUKAN_APIKEY" target="_blank">Short Link</a>

            <a class="collapse-item" href="/api/drakorasia?search=tale&apikey=MASUKAN_APIKEY" target="_blank">Drakor Asia</a>

            <a class="collapse-item" href="/api/fakedata?country=en&apikey=MASUKAN_APIKEY" target="_blank">Fake Data</a>

            <a class="collapse-item" href="/api/hilih?kata=Yuda ganteng banget&apikey=MASUKAN_APIKEY" target="_blank">Kata Hilih</a>



                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="dollar-sign"></i><span>Bantu saya:)</span></a>

                        <ul class="dropdown-menu">

                          <a class="collapse-item" href="https://saweria.co/YudaXwer" target="_blank">Saweria</a>

                        </ul>

                     </li>



                     <li>



                     <li class="menu-header">About Me</li>


                     </li>

                     <li>

                        <a href="https://youtube.com/channel/UCzIFppli9TWd4is-9vhGCaQ" class="nav-link"><i data-feather="youtube"></i><span>Youtube</span></a>

                     </li>

                     <li>

                        <a href="https://github.com/ArdiTech07" class="nav-link"><i data-feather="github"></i><span>Github</span></a>

                     </li>

                  </ul>

               </aside>

            </div>

            <!-- Main Content -->

            <div class="main-content">

               <section class="section">

                  <ul class="breadcrumb breadcrumb-style">

                     <li class="breadcrumb-item">

                        <h4 class="page-title m-b-0">Dashboard</h4>

                     </li>

                     <li class="breadcrumb-item">

                        <a href="/"><i data-feather="home"></i></a>

                     </li>

                     <li class="breadcrumb-item active">Home</li>

                  </ul>

                  <div class="row">

                     <div class="col-lg-3 col-sm-6">

                        <div class="card">

                           <div class="card-statistic-4">

                              <div class="info-box7-block">

                                 <h6 class="m-b-20 text-right"> Total Hit</h6>

				 <h4>

                                 <i data-feather="battery"></i> <span id="visit"> 0 </span></h4>

                                 <p class="mb-0 mt-3 text-muted"> Jumlah request</p>

                              </div>

                           </div>

                        </div>

                     </div>

                     <div class="col-lg-3 col-sm-6">

                        <div class="card">

                           <div class="card-statistic-4">

                              <div class="info-box7-block">

                                 <h6 class="m-b-20 text-right">Time Now</h6>

				 <h4>

                                 <i data-feather="clock"></i> <span id="browser_info"> 00.00 </span></h4>

                                 <p class="mb-0 mt-3 text-muted"><span id="browser_sholat"></span></p>

                              </div>

                           </div>

                        </div>

                     </div>

                     <div class="col-lg-3 col-sm-6">

                        <div class="card">

                           <div class="card-statistic-4">

                              <div class="info-box7-block">

                                 <h6 class="m-b-20 text-right">Alamat IP</h6>

				 <h4>

                                 <i data-feather="wifi"></i> <span id="ip"> 127.0.0.1 </span></h4>

                                 <p class="mb-0 mt-3 text-muted">Your IP</p>

                              </div>

                           </div>

                        </div>

                     </div>

		    </div>
		    
		       <!---Container Fluid-->

                       <!-- Footer -->

                        <form action="/api/cekapikey">

                        <div class="col-xl-3 col-md-6 mb-4">

                        <div class="card h-100">

                        <div class="card-body">

                       <div class="row align-items-center">

                        <div class="col mr-2">

                    <div class="h6 mb-0 font-weight-bold text-dark-800 text-uppercase">

                    <h6 class="text-center">Cek Apikey</h6>

                   </div>

                 <input type="password" class="form-control" placeholder="Check" name="apikey" required=""><br>

                <button class="btn btn-danger btn-icon-split">

                <span class="icon text-white-50">

                           <i class="fas fa-check"></i>

                           </span>

                           <span class="text">Check-In</span>

                           </button>

                    
			  </div>

                        </div>

                     </div>

                  </div>

               </section>

               <div class="settingSidebar">

                  <a href="javascript:void(0)" class="settingPanelToggle"> <i data-feather="settings"></i> </a>

                  <div class="settingSidebar-body ps-container ps-theme-default">

                     <div class="fade show active">

                        <div class="setting-panel-header">Setting Panel</div>

                        <div class="p-15 border-bottom">

                           <h6 class="font-medium m-b-10">Select Layout</h6>

                           <div class="selectgroup layout-color w-50">

                              <label class="selectgroup-item">

                                 <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked />

                                 <span class="selectgroup-button">Light</span>

                              </label>

                              <label class="selectgroup-item">

                                 <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout" />

                                 <span class="selectgroup-button">Dark</span>

                              </label>

                           </div>

                        </div>

                        <div class="p-15 border-bottom">

                           <h6 class="font-medium m-b-10">Sidebar Color</h6>

                           <div class="selectgroup selectgroup-pills sidebar-color">

                              <label class="selectgroup-item">

                                 <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar" />

                                 <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip" data-original-title="Light Sidebar"><i data-feather="sun"></i></span>

                              </label>

                              <label class="selectgroup-item">

                                 <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked />

                                 <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip" data-original-title="Dark Sidebar"><i data-feather="moon"></i></span>

                              </label>

                           </div>

                        </div>

                        <div class="p-15 border-bottom">

                           <h6 class="font-medium m-b-10">Color Theme</h6>

                           <div class="theme-setting-options">

                              <ul class="choose-theme list-unstyled mb-0">

                                 <li title="white" class="active">

                                    <div class="white"></div>

                                 </li>

                                 <li title="cyan">

                                    <div class="cyan"></div>

                                 </li>

                                 <li title="black">

                                    <div class="black"></div>

                                 </li>

                                 <li title="purple">

                                    <div class="purple"></div>

                                 </li>

                                 <li title="orange">

                                    <div class="orange"></div>

                                 </li>

                                 <li title="green">

                                    <div class="green"></div>

                                 </li>

                                 <li title="red">

                                    <div class="red"></div>

                                 </li>

                              </ul>

                           </div>

                        </div>

                        <div class="p-15 border-bottom">

                           <div class="theme-setting-options">

                              <label class="m-b-0">

                                 <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="mini_sidebar_setting" />

                                 <span class="custom-switch-indicator"></span>

                                 <span class="control-label p-l-10">Mini Sidebar</span>

                              </label>

                           </div>

                        </div>

                        <div class="p-15 border-bottom">

                           <div class="theme-setting-options">

                              <label class="m-b-0">

                                 <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="sticky_header_setting" />

                                 <span class="custom-switch-indicator"></span>

                                 <span class="control-label p-l-10">Sticky Header</span>

                              </label>

                           </div>

                        </div>

                        <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">

                           <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme"><i data-feather="refresh-cw"></i> Restore Default </a>

                        </div>

                     </div>

                  </div>

               </div>

            </div>
<div class="col-xl-3 col-md-6 mb-4">
                <div class="card h-100">
                  <div class="card-body">
                    <h4 class="card-title text-center">Tic Tac Toe</h4>
                    <h6 class="card-title text-center">Menang kan Untuk Mendapatkan Apikey</h6>
                    <hr>
          <div class="container1">
        <div class="play-area">
        </div>
        <h21 class="text-center" id="winner"></h21>
        <button1 onclick="reset_board()">ULANG</button1>
    </div>
    </div>
    </div>
    </div>
            <!---Container Fluid-->
      </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; 2021 - Developed By
              <b><a href="https://wa.me/6285282996146" target="_blank">ArdiTech07</a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

   <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/ruang-admin.js"></script>
  <iframe style="display: none;" width="560" height="315" src="https://www.youtube.com/embed/VRQDOFaFqWk?rel=0&autoplay:1" frameborder="0"  allowfullscreen></iframe>
  <embed src="./sound/losretros.mp3" type="audio/mpeg" autostart="true" loop="true" height="0" width="0">
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>  
  <script 
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
var countDownDate = new Date("May 12, 2021 23:00:00").getTime();

var x = setInterval(function() {
  var now = new Date().getTime();
  var distance = countDownDate - now;
    
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  document.getElementById("IdulFitri").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("IdulFitri").innerHTML = "BERAKHIR";
  }
}, 1000);
</script>
<script>
	window.setTimeout("waktu()", 1000);
 
	function waktu() {
		var d = new Date();
  const jam = d.getHours();
  const menit = d.getMinutes();
  const detik = d.getSeconds();
		setTimeout("waktu()", 1000);
		document.getElementById("JamSekarang").innerHTML = jam +":"+ menit +":"+ detik 
		
		
	}
</script>
<script>
	const player = "O";
const computer = "X";

let board_full = false;
let play_board = ["", "", "", "", "", "", "", "", ""];

const board_container = document.querySelector(".play-area");

const winner_statement = document.getElementById("winner");

check_board_complete = () => {
  let flag = true;
  play_board.forEach(element => {
    if (element != player && element != computer) {
      flag = false;
    }
  });
  board_full = flag;
};


const check_line = (a, b, c) => {
  return (
    play_board[a] == play_board[b] &&
    play_board[b] == play_board[c] &&
    (play_board[a] == player || play_board[a] == computer)
  );
};

const check_match = () => {
  for (i = 0; i < 9; i += 3) {
    if (check_line(i, i + 1, i + 2)) {
      document.querySelector(`#block_${i}`).classList.add("win");
      document.querySelector(`#block_${i + 1}`).classList.add("win");
      document.querySelector(`#block_${i + 2}`).classList.add("win");
      return play_board[i];
    }
  }
  for (i = 0; i < 3; i++) {
    if (check_line(i, i + 3, i + 6)) {
      document.querySelector(`#block_${i}`).classList.add("win");
      document.querySelector(`#block_${i + 3}`).classList.add("win");
      document.querySelector(`#block_${i + 6}`).classList.add("win");
      return play_board[i];
    }
  }
  if (check_line(0, 4, 8)) {
    document.querySelector("#block_0").classList.add("win");
    document.querySelector("#block_4").classList.add("win");
    document.querySelector("#block_8").classList.add("win");
    return play_board[0];
  }
  if (check_line(2, 4, 6)) {
    document.querySelector("#block_2").classList.add("win");
    document.querySelector("#block_4").classList.add("win");
    document.querySelector("#block_6").classList.add("win");
    return play_board[2];
  }
  return "";
};

const check_for_winner = () => {
  let res = check_match()
  if (res == player) {
    winner.innerText = "Lu Menang Apikey Nya : MansKey";
    winner.classList.add("playerWin");
    board_full = true
  } else if (res == computer) {
    winner.innerText = "Awokawok Kalah Ama Komputer:v";
    winner.classList.add("computerWin");
    board_full = true
  } else if (board_full) {
    winner.innerText = "Draw!";
    winner.classList.add("draw");
  }
};


const render_board = () => {
  board_container.innerHTML = ""
  play_board.forEach((e, i) => {
    board_container.innerHTML += `<div id="block_${i}" class="block" onclick="addPlayerMove(${i})">${play_board[i]}</div>`
    if (e == player || e == computer) {
      document.querySelector(`#block_${i}`).classList.add("occupied");
    }
  });
};

const game_loop = () => {
  render_board();
  check_board_complete();
  check_for_winner();
}

const addPlayerMove = e => {
  if (!board_full && play_board[e] == "") {
    play_board[e] = player;
    game_loop();
    addComputerMove();
  }
};

const addComputerMove = () => {
  if (!board_full) {
    do {
      selected = Math.floor(Math.random() * 9);
    } while (play_board[selected] != "");
    play_board[selected] = computer;
    game_loop();
  }
};

const reset_board = () => {
  play_board = ["", "", "", "", "", "", "", "", ""];
  board_full = false;
  winner.classList.remove("playerWin");
  winner.classList.remove("computerWin");
  winner.classList.remove("draw");
  winner.innerText = "";
  render_board();
};

//initial render
render_board();
</script>
  
  <script type="text/javascript">
	$.getJSON("https://api.countapi.xyz/hit/kagurachan.herokuapp/visits", function(data) {
    	$("#visitorJarAPI").text(data.value);
	});
</script>
<script>
	window.setTimeout("getip()",1000);function getip(){var xhr=new XMLHttpRequest();var url='https://api.xteam.xyz/cekip';xhr.onloadend=function(){data=JSON.parse(this.responseText);document.getElementById("ipanda").textContent=data.response
document.getElementById("userhit").textContent=data.userhit};xhr.open("GET",url,true);xhr.send();}
</script>
	<script>
  swal("Halo Stah", "Jangan Bully Aku:(", "warning");
</script>

        
</body>

</html>
