<!DOCTYPE html>
<html lang="en">

<head>
    <!-- icon animated -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.8/font-awesome-animation.min.css"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Rey</title>
    <link href="https://inirey.github.io/lolhuman/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://inirey.github.io/lolhuman/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://inirey.github.io/lolhuman/css/default.css" rel="stylesheet">
    <link href="https://inirey.github.io/lolhuman/css/style.css" rel="stylesheet">
</head>

<body id="page-top" class="dark-mode">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <i class="fa fa-smile-beam fa-2x"></i>
                <div class="sidebar-brand-text mx-3">Sekha APIs</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-thermometer-three-quarters"></i>
                    <span>Statistic</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Features
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="fa fa-fw fa-arrow-down"></i>
                    <span>Downloader & Media</span>
                </a>
                <div id="collapseDownload" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Downloader & Media</h6>
                        <a class="collapse-item" target="_blank" href="/api/music/joox?query=akad&apikey=APIKEY" target="_blank" >Joox search</a>
                        <a class="collapse-item" target="_blank" href="/api/download/joox3?query=akad&apikey=APIKEY" target="_blank" >Joox search2</a>
                        <a class="collapse-item" target="_blank" href="/api/download/joox2?query=akad&apikey=APIKEY" target="_blank" >Joox Media</a>
                        <a class="collapse-item" target="_blank" href="/api/download/smule?url=https://www.smule.com/recording/lewis-capaldi-someone-you-loved-slower-piano/1112691877_3200708124&apikey=APIKEY" target="_blank" >Smule Download</a>
			              <a class="collapse-item" target="_blank" href="/api/download/ytmp4?url=https://youtu.be/6l5V3BWDcMw&apikey=APIKEY" target="_blank" >Youtube Video</a>
                                      <a class="collapse-item" target="_blank" href="/api/download/ytmp42?url=https://youtu.be/6l5V3BWDcMw&apikey=APIKEY" target="_blank" >Youtube Video2</a>
			              <a class="collapse-item" target="_blank" href="/api/download/ytmp3?url=https://youtu.be/6l5V3BWDcMw&apikey=APIKEY" target="_blank" >Youtube Audio</a>
			              <a class="collapse-item" target="_blank" href="/api/download/ytmp32?url=https://youtu.be/6l5V3BWDcMw&apikey=APIKEY" target="_blank" >Youtube Audio2</a>
                                      <a class="collapse-item" target="_blank" href="/api/downloader/facebook?url=https://www.facebook.com/botikaonline/videos/837084093818982&apikey=APIKEY" target="_blank" >FB download</a>
                                      <a class="collapse-item" target="_blank" href="/api/downloader/fb?url=https://www.facebook.com/100044139564343/posts/375127390635243&apikey=APIKEY" target="_blank" >FB download2</a>
			              <a class="collapse-item" target="_blank" href="/api/music/spotify?query=akad&apikey=APIKEY" target="_blank" >Spotify search</a>
                                      <a class="collapse-item" target="_blank" href="/api/downloader/pinterest?q=aeshestic&apikey=APIKEY" target="_blank" >pinterest search</a>
                                      <a class="collapse-item" target="_blank" href="/api/download/unplash?q=good night&apikey=APIKEY" target="_blank" >unplash search</a>
                                      <a class="collapse-item" target="_blank" href="/api/download/sticker?q=patrick&apikey=APIKEY" target="_blank" >stickerWA search</a>
                                      <a class="collapse-item" target="_blank" href="/api/download/stickerline?url=https://store.line.me/stickershop/product/9409/id=APIKEY" target="_blank" >stickerLINE search</a>
                                      <a class="collapse-item" target="_blank" href="/api/download/shoppe?q=jaket gunung&apikey=APIKEY" target="_blank" >shoppe search</a>
                                      <a class="collapse-item" target="_blank" href="/api/downloader/wallpaperflare?query=anime&apikey=APIKEY" target="_blank" >wallpaperflare search</a>
                                      <a class="collapse-item" target="_blank" href="/api/download/googleimg?query=kucing&apikey=APIKEY" target="_blank" >google img search</a>
                                      <a class="collapse-item" target="_blank" href="/api/download/apk?query=whatsapp&apikey=APIKEY" target="_blank" >Apk search</a>
                                      <a class="collapse-item" target="_blank" href="/api/download/apkdl?url=URL_NYA&apikey=APIKEY" target="_blank" >Apk download</a>
			              <a class="collapse-item" target="_blank" href="/api/yt/playmp3?query=surender&apikey=APIKEY" target="_blank" >play mp3</a>
                          <a class="collapse-item" target="_blank" href="/api/yt/playmp4?query=surender&apikey=APIKEY" target="_blank" >play mp4</a>
			             <a class="collapse-item" target="_blank" href="/api/yt/search?query=surender&apikey=APIKEY" target="_blank" >yt search</a>
                        <a class="collapse-item" target="_blank" href="/api/download/tiktok?url=https://vt.tiktok.com/ZSeJ7P56G&apikey=APIKEY" target="_blank" >Tiktok download</a>
                        <a class="collapse-item" target="_blank" href="/api/download/tiktok2?url=https://vt.tiktok.com/ZSeJ7P56G&apikey=APIKEY" target="_blank" >Tiktok download2</a>
                        <a class="collapse-item" target="_blank" href="/api/download/ig?url=https://www.instagram.com/p/CUU8PwHhU-9/?utm_medium=copy_link&apikey=APIKEY" target="_blank" >IG POST download</a>
                        <a class="collapse-item" target="_blank" href="/api/downloader/igtv?url=https://www.instagram.com/tv/CSW1PMohXDm&apikey=APIKEY" target="_blank" >IG TV download</a>
                        <a class="collapse-item" target="_blank" href="/api/downloader/igstory?username=attahalilintar&apikey=APIKEY" target="_blank" >IG STORY</a>
                        <a class="collapse-item" target="_blank" href="/api/download/mediafire?url=https://www.mediafire.com/file/v035jsup2d2wp1n/textprome.js/file&apikey=APIKEY" target="_blank" >Mediafire download</a>
                        <a class="collapse-item" target="_blank" href="/api/downloader/twitterimg?url=https://twitter.com/renaldypjs/status/1343516524934438912&apikey=APIKEY" target="_blank" >Twitter img download</a>
                        <a class="collapse-item" target="_blank" href="/api/downloader/twittervid?url=https://twitter.com/weareoneEXO/status/1344811074864914433&apikey=APIKEY" target="_blank" >Twitter vid download</a>
                        <a class="collapse-item" target="_blank" href="/api/stalk/ig?username=_sekhaa&apikey=APIKEY" target="_blank" >Stalk Instagram</a>
                        <a class="collapse-item" target="_blank" href="/api/stalk/ig2?username=_sekhaa&apikey=APIKEY" target="_blank" >Stalk Instagram2</a>
                        <a class="collapse-item" target="_blank" href="/api/stalk/github?username=inirey&apikey=APIKEY" target="_blank" >Stalk Github</a>
			 <a class="collapse-item" target="_blank" href="/api/stalk/tiktok?username=attahalilintar&apikey=APIKEY" target="_blank" >stalk tiktok</a>
                        <a class="collapse-item" target="_blank" href="/api/stalk/npm?query=hx&apikey=APIKEY" target="_blank" >stalk npm</a>
                        <a class="collapse-item" target="_blank" href="/api/downloader/pornhub?query=japan&apikey=APIKEY" target="_blank" >Pornhub search</a>
                        <a class="collapse-item" target="_blank" href="/api/downloader/xnxx?query=japan&apikey=APIKEY" target="_blank" >Xnxx search</a>
                        <a class="collapse-item" target="_blank" href="/api/downloader/xvideo?query=japan&apikey=APIKEY" target="_blank" >Xvideos search</a>                             
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTextPro" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-fw fa-font"></i>
                    <span>Text maker</span>
                </a>
                <div id="collapseTextPro" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                         <h6 class="collapse-header">Image maker</h6>
                        <a class="collapse-item" href="/api/maker/harta-tahta?text=reyganz&apikey=APIKEY" target="_blank" >harta tahta</a>
                        <a class="collapse-item" href="/api/maker/silverbutton?text=reyganz&apikey=APIKEY" target="_blank" >silver button</a>
                        <a class="collapse-item" href="/api/maker/goldbutton?text=reyganz&apikey=APIKEY" target="_blank" >gold button</a>
                        <a class="collapse-item" href="/api/maker/nulis?text=reyganz&apikey=APIKEY" target="_blank" >nulis</a>
                        <a class="collapse-item" href="/api/maker/emoji2png?text=%F0%9F%98%85&apikey=APIKEY" target="_blank" >emoji to png</a>
                        <h6 class="collapse-header">Textprome Features</h6>
                        <a class="collapse-item" href="/api/textpro/magma?text=Revita&apikey=APIKEY" target="_blank" >magma</a>
<a class="collapse-item" href="/api/textpro/hallowen-text?text=Revita&apikey=APIKEY" target="_blank" >hallowen effect</a>
<a class="collapse-item" href="/api/textpro/neon-light?text=Revita&apikey=APIKEY" target="_blank" >Neon light</a>
<a class="collapse-item" href="/api/textpro/broken-glass?text=Revita&apikey=APIKEY" target="_blank" >broken glass</a>
<a class="collapse-item" href="/api/textpro/art-papper?text=Revita&apikey=APIKEY" target="_blank" >Art papper</a>
<a class="collapse-item" href="/api/textpro/glossy?text=Revita&apikey=APIKEY" target="_blank" >glossy</a>
<a class="collapse-item" href="/api/textpro/water-color?text=Revita&apikey=APIKEY" target="_blank" >water color</a>
<a class="collapse-item" href="/api/textpro/multi-color?text=Revita&apikey=APIKEY" target="_blank" >multi color</a>
<a class="collapse-item" href="/api/textpro/neon-devil?text=Revita&apikey=APIKEY" target="_blank" >Neon devil</a>
<a class="collapse-item" href="/api/textpro/sky-text?text=Revita&apikey=APIKEY" target="_blank" >sky text</a>
<a class="collapse-item" href="/api/textpro/luxury?text=Revita&apikey=APIKEY" target="_blank" >luxury</a>
<a class="collapse-item" href="/api/textpro/vintage?text=Revita&text2=canszz&apikey=APIKEY" target="_blank" >vintage</a>
<a class="collapse-item" href="/api/textpro/writing?text=Revita&apikey=APIKEY" target="_blank" >Writing</a>
<a class="collapse-item" href="/api/textpro/engraved?text=Revita&apikey=APIKEY" target="_blank" >Engraved</a>
<a class="collapse-item" href="/api/textpro/glue-text?text=Revita&apikey=APIKEY" target="_blank" >Glue text</a>
<a class="collapse-item" href="/api/textpro/pornhub?text=Revita&text2=cans&apikey=APIKEY" target="_blank" >porn HUB</a>
<a class="collapse-item" href="/api/textpro/holograpic?text=Revita&apikey=APIKEY" target="_blank" >holograpic</a>
<a class="collapse-item" href="/api/textpro/deluxe-silver?text=Revita&apikey=APIKEY" target="_blank" >deluxe silver</a>
<a class="collapse-item" href="/api/textpro/fabric?text=Revita&apikey=APIKEY" target="_blank" >Fabric</a>
<a class="collapse-item" href="/api/textpro/wicker?text=Revita&apikey=APIKEY" target="_blank" >wicker</a>
<a class="collapse-item" href="/api/textpro/larva?text=Revita&apikey=APIKEY" target="_blank" >Larva</a>
<a class="collapse-item" href="/api/textpro/toxic-bokeh?text=Revita&apikey=APIKEY" target="_blank" >Toxic</a>
<a class="collapse-item" href="/api/textpro/stroberi?text=Revita&apikey=APIKEY" target="_blank" >strobery</a>
<a class="collapse-item" href="/api/textpro/koi?text=Revita&apikey=APIKEY" target="_blank" >koi pish</a>
<a class="collapse-item" href="/api/textpro/bread?text=Revita&apikey=APIKEY" target="_blank" >Bread</a>
<a class="collapse-item" href="/api/textpro/horor-blood?text=Revita&apikey=APIKEY" target="_blank" >horor blood</a>
<a class="collapse-item" href="/api/textpro/honey?text=Revita&apikey=APIKEY" target="_blank" >honey</a>
<a class="collapse-item" href="/api/textpro/ice?text=Revita&apikey=APIKEY" target="_blank" >Ice</a>
<a class="collapse-item" href="/api/textpro/rusty?text=Revita&apikey=APIKEY" target="_blank" >Rusty effect</a>
             <a class="collapse-item" href="/api/textpro/captain?text=Revita&text2=cans&apikey=APIKEY" target="_blank" >captain Amerika</a>
            <a class="collapse-item" href="/api/textpro/3d-gradient?text=Revita&apikey=APIKEY" target="_blank" >gradien</a>
            <a class="collapse-item" href="/api/textpro/christmas?text=Revita&apikey=APIKEY" target="_blank" >christmas</a>
            <a class="collapse-item" href="/api/textpro/drop-water?text=Revita&apikey=APIKEY" target="_blank" >drop water</a>
            <a class="collapse-item" href="/api/textpro/black-pink?text=Revita&apikey=APIKEY" target="_blank" >blackpink</a>
            <a class="collapse-item" href="/api/textpro/logo-wolf?text=Revita&text2&apikey=APIKEY" target="_blank" >Logo Wolf</a>
            <a class="collapse-item" href="/api/textpro/natural-leavest?text=Revita&apikey=APIKEY" target="_blank" >Natural leavest</a>
            <a class="collapse-item" href="/api/textpro/logo-wolf2?text=Revita&text2&apikey=APIKEY" target="_blank" >Logo Wolf 2</a>
            <a class="collapse-item" href="/api/textpro/harry-potter?text=Revita&apikey=APIKEY" target="_blank" >Harry Potter</a>
            <a class="collapse-item" href="/api/textpro/3dstone?text=Revita&apikey=APIKEY" target="_blank" >3D stone</a>
            <a class="collapse-item" href="/api/textpro/1917?text=Revita&apikey=APIKEY" target="_blank" >1917</a>
            <a class="collapse-item" href="/api/textpro/thunder2?text=Revita&apikey=APIKEY" target="_blank" >Thunder 2</a>
            <a class="collapse-item" href="/api/textpro/space?text=Revita&text2=cans&apikey=APIKEY" target="_blank" >Space</a>
            <a class="collapse-item" href="/api/textpro/joker-logo?text=Revita&apikey=APIKEY" target="_blank" >Joker logo</a>
            <a class="collapse-item" href="/api/textpro/hallowen?text=Revita&apikey=APIKEY" target="_blank" >hallowen</a>
            <a class="collapse-item" href="/api/textpro/blood?text=Revita&apikey=APIKEY" target="_blank" >Blood text</a>
            <a class="collapse-item" href="/api/textpro/astone?text=Revita&apikey=APIKEY" target="_blank" >Astone</a>
            <a class="collapse-item" href="/api/textpro/grafity-text?text=Revita&apikey=APIKEY" target="_blank" >Grafity text</a>
            <a class="collapse-item" href="/api/textpro/grafity-text2?text=Revita&text2=cans&apikey=APIKEY" target="_blank" >Grafity text2</a>
            <a class="collapse-item" href="/api/textpro/ninja-logo?text=Revita&text2=canszz&apikey=APIKEY" target="_blank" >Ninja logo</a>
            <a class="collapse-item" href="/api/textpro/lion-logo?text=Revita&text2=cansz&apikey=APIKEY" target="_blank" >lion logo</a>
            <a class="collapse-item" href="/api/textpro/avengers-logo?text=Revita&text2=cans&apikey=APIKEY" target="_blank" >Avengers</a>
            <a class="collapse-item" href="/api/textpro/marvel-logo2?text=Revita&text2=cans" target="_blank" >Marvel studio</a>
            <h6 class="collapse-header">Photoxry Features</h6>
                <a class="collapse-item" href="/api/photooxy/army?text=Revita&apikey=APIKEY" target="_blank" >Army text</a>
                        <a class="collapse-item" href="/api/maker/matrix?text=Revita&apikey=APIKEY" target="_blank" >matrix</a>
                        <a class="collapse-item" href="/api/maker/pubglogo?text1=Revita&text2=cans&apikey=APIKEY" target="_blank" >PUBG</a>
                        <a class="collapse-item" href="/api/maker/breakwall?text=Revita&apikey=APIKEY" target="_blank" >breakwall</a>
                        <a class="collapse-item" href="/api/photooxy/butterfly?text=Revita&apikey=APIKEY" target="_blank" >butterfly</a>
                        <a class="collapse-item" href="/api/photooxy/naruto?text1=Revita&apikey=APIKEY" target="_blank" >naruto</a>
                        <a class="collapse-item" href="/api/photooxy/smoke?text1=Revita&apikey=APIKEY" target="_blank" >smoke text</a> 
                        <a class="collapse-item" href="/api/photooxy/burn-papper?text=Revita&apikey=APIKEY" target="_blank" >burn papper</a>
                        <a class="collapse-item" href="/api/photooxy/love-message?text=Revita&apikey=APIKEY" target="_blank" >love message</a>
                        <a class="collapse-item" href="/api/photooxy/love-text?text=Revita&apikey=APIKEY" target="_blank" >love text</a>
                        <a class="collapse-item" href="/api/photooxy/coffe-cup?text=Revita&apikey=APIKEY" target="_blank" >coffe cup</a>
                        <a class="collapse-item" href="/api/photooxy/double-heart?text=Revita&apikey=APIKEY" target="_blank" >double heart</a>
                        <a class="collapse-item" href="/api/photooxy/glitch?text=Revita&text2=cans&apikey=APIKEY" target="_blank" >glitch effect</a>
                        <a class="collapse-item" href="/api/photooxy/message-under-grass?text=Revita&apikey=APIKEY" target="_blank" >message under grass</a>                                                            
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGame" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fas fa-laptop"></i>
                    <span>Game</span>
                </a>
                <div id="collapseGame" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Game API</h6>
                        <a class="collapse-item" target="_blank" href="/api/kuis/tebakGambar?apikey=APIKEY" target="_blank" >Tebak gambar</a>
                        <a class="collapse-item" target="_blank" href="/api/game/tebaklirik?apikey=APIKEY" target="_blank" >Tebak lirik</a>
                        <a class="collapse-item" target="_blank" href="/api/game/tebakkata?apikey=APIKEY" target="_blank" >Tebak kata</a>
                        <a class="collapse-item" target="_blank" href="/api/game/tebakkalimat?apikey=APIKEY" target="_blank" >Tebak kalimat</a>
                        <a class="collapse-item" target="_blank" href="/api/game/tebaktebakan?apikey=APIKEY" target="_blank" >Tebak tebakan</a>
                        <a class="collapse-item" target="_blank" href="/api/game/tebakjenaka?apikey=APIKEY" target="_blank" >Tebak jenaka</a>
                        <a class="collapse-item" target="_blank" href="/api/game/tebakbendera?apikey=APIKEY" target="_blank" >Tebak bendera</a>
                        <a class="collapse-item" target="_blank" href="/api/game/tebakkimia?apikey=APIKEY" target="_blank" >Tebak kimia</a>
                        <a class="collapse-item" target="_blank" href="/api/game/tebakchara?apikey=APIKEY" target="_blank" >Tebak chara</a>
                        <a class="collapse-item" target="_blank" href="/api/kuis/caklontong?apikey=APIKEY" target="_blank" >Cak lontong</a>
                        <a class="collapse-item" target="_blank" href="/api/game/family100?apikey=APIKEY" target="_blank" >family 100</a>
                  </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIslamic" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fas fa-star-and-crescent"></i>
                    <span>Islamic</span>
                </a>
                <div id="collapseIslamic" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Islamic Api</h6>
                        <a class="collapse-item" target="_blank" href="/api/muslim/asmaulhusna?apikey=APIKEY" target="_blank" >Asmaul Husna</a>
                        <a class="collapse-item" target="_blank" href="/api/muslim/jadwalshalat?kota=banyuwangi&apikey=APIKEY" target="_blank" >jadwal shalat </a>
                        <a class="collapse-item" target="_blank" href="/api/muslim/hadits?kitab=bukhari&nomor=52&apikey=APIKEY" target="_blank" >Hadist sahih</a>
                         <a class="collapse-item" target="_blank" href="/api/muslim/quran?surah=1&ayat=2&apikey=APIKEY" target="_blank" >Al Qur'an</a>
                        <a class="collapse-item" target="_blank" href="/api/muslim/kisahnabi?nabi=muhammad&apikey=APIKEY" target="_blank" >Kisah Nabi</a>
                      </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSimi" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fas fa-smile"></i>
                    <span>Simi simi</span>
                </a>
                <div id="collapseSimi" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Simi simi api</h6>
                        <a class="collapse-item" target="_blank" href="/api/fun/simisimi?text=assalamualaikum&apikey=APIKEYMU" target="_blank" >Simi IND</a>
                        <a class="collapse-item" target="_blank" href="/api/fun/simisimi-ind2?text=hallo%20kak&apikey=APIKEYMU" target="_blank" >Simi IND2</a>
                        <a class="collapse-item" target="_blank" href="/api/fun/simisimi2?text=how%20are%20you&apikey=APIKEYMU" target="_blank" >Simi EN</a>
                        <a class="collapse-item" target="_blank" href="/api/fun/simisimi-en2?text=Hi%20friend%20&apikey=APIKEYMU" target="_blank" >Simi EN2</a>
                        <a class="collapse-item" target="_blank" href="/api/fun/simisimi3?text=arigatou&apikey=APIKEYMU" target="_blank" >Simi JPN</a>
                        <a class="collapse-item" target="_blank" href="/api/fun/simisimi-jp2?text=arigatou&apikey=APIKEYMU" target="_blank" >Simi JPN2</a>
                        <a class="collapse-item" target="_blank" href="/api/fun/simisimi4?text=assalamualaikum ya aqhi&apikey=APIKEYMU" target="_blank" >Simi ARB</a>
                        <a class="collapse-item" target="_blank" href="/api/fun/simisimi-ar2?text=la%20tahzan&apikey=APIKEYMU" target="_blank" >Simi ARB2</a>
                  </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseprimbon" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fas fa-star"></i>
                    <span>primbon</span>
                </a>
                <div id="collapseprimbon" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">primbon Api</h6>              
                        <a class="collapse-item" target="_blank" href="/api/primbon/artimimpi?text=bangkrut&apikey=APIKEYMU" target="_blank" >Arti mimpi</a>
                        <a class="collapse-item" target="_blank" href="/api/primbon/artinama?text=Rey&apikey=APIKEYMU" target="_blank" >Arti nama</a>
                  </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRandomimage" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-fw fa-image"></i>
                    <span>Random image</span>
                </a>
                <div id="collapseRandomimage" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Random image</h6>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/trans?apikey=APIKEY">wallhp Transformers </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/jeni?apikey=APIKEY">wallhp jeni blpk </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/jiso?apikey=APIKEY">wallhp jisso blpkl </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/cecan2?apikey=APIKEY">wallhp cecan </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/cogan2?apikey=APIKEY">wallhp cogan </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/satanic?apikey=APIKEY">wallhp satanic </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/katakata?apikey=APIKEY">wallhp quotes </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/pentol?apikey=APIKEY">wallhp pentol </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/kartun?apikey=APIKEY">wallhp cartoon </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/tatasurya?apikey=APIKEY">wallhp planet </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/cyberspace?apikey=APIKEY">wallhp cyberspace </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/gaming?apikey=APIKEY">wallhp gaming </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/islami?apikey=APIKEY"> wallhp islami </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/programing?apikey=APIKEY"> wallhp programing </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/teknologi?apikey=APIKEY"> wallhp teknologi </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/mountain?apikey=APIKEY"> wallhp mountain </a>
                             <a class="collapse-item" target="_blank" href="/api/wallpaper/ryujin?apikey=APIKEY" target="_blank" >Random Ryujin ityz</a>
		   <a class="collapse-item" target="_blank" href="/api/wallpaper/rose?apikey=APIKEY" target="_blank" >Random rose blpk</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/justina?apikey=APIKEY" target="_blank" >Random justina xie</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/random/blackpink?apikey=APIKEY" target="_blank" >Random blackpink</a>                        
           <a class="collapse-item" target="_blank" href="/api/wallpaper/doraemon?apikey=APIKEY" target="_blank" >Random Doraemon</a>                      
           <a class="collapse-item" target="_blank" href="/api/wallpaper/ppcouple?apikey=APIKEY" target="_blank" >Random ppcouple</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/kpop?apikey=APIKEY" target="_blank" >Random kpop</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/hekel?apikey=APIKEY" target="_blank" >Random hekel</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/pubg?apikey=APIKEY" target="_blank" >Random PUBG</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/cogan?apikey=APIKEY" target="_blank" >Random cogan</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/cecan?apikey=APIKEY" target="_blank" >Random cecan</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/aesthetic?apikey=APIKEY" target="_blank" >Random Aesthetic</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/wallhp?apikey=APIKEY" target="_blank" >Random wallhp aesthetic</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/anime?apikey=APIKEY" target="_blank" >Random wallhp anime</a>
           <a class="collapse-item" target="_blank" href="/api/asupan?apikey=APIKEY" target="_blank" >Random asupan</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/kucing?apikey=APIKEY" target="_blank" >Random Kucing</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/anjing?apikey=APIKEY" target="_blank" >Random Anjing</a>
                    </div>
                </div>
                </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNsfw" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fas fa-exclamation-triangle"></i>
                    <span>Nsfw</span>
                </a>
                <div id="collapseNsfw" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
            <h6 class="collapse-header">NSFW Features</h6>
            <a class="collapse-item" target="_blank" href="/api/wallpaper/nsfwloli?apikey=APIKEY" target="_blank" >Nswf loli</a>
                       <a class="collapse-item" target="_blank" href="/api/nsfw/ahegao?apikey=APIKEY" target="_blank" >nsfw ahegao</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/ass?apikey=APIKEY" target="_blank" >nsfw ass</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/bdsm?apikey=APIKEY" target="_blank" >Nswf bdsm</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/blowjob?apikey=APIKEY" target="_blank" >nsfw blowjob</a>
		               <a class="collapse-item" target="_blank" href="/api/nsfw/cuckold?apikey=APIKEY" target="_blank" >nsfw cuckold</a>
		               <a class="collapse-item" target="_blank" href="/api/nsfw/cum?apikey=APIKEY" target="_blank" >nsfw cum</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/ero?apikey=APIKEY" target="_blank" >nsfw ero</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/femdom?apikey=APIKEY" target="_blank" >nsfw femdom</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/foot?apikey=APIKEY" target="_blank" >nsfw foot</a>
		                <a class="collapse-item" target="_blank" href="/api/nsfw/gangbang?apikey=APIKEY" target="_blank" >nsfw gangbanh</a>
		                <a class="collapse-item" target="_blank" href="/api/nsfw/glasses?apikey=APIKEY" target="_blank" >nsfw glasses</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/hentai?apikey=APIKEY" target="_blank" >nsfw hentai</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/gifs?apikey=APIKEY" target="_blank" >nsfw gifs</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/jahy?apikey=APIKEY" target="_blank" >nsfw jahy</a>
		                <a class="collapse-item" target="_blank" href="/api/nsfw/manga?apikey=APIKEY" target="_blank" >nsfw manga</a>
		                <a class="collapse-item" target="_blank" href="/api/nsfw/masturbation?apikey=APIKEY" target="_blank" >nsfw mstb</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/neko?apikey=APIKEY" target="_blank" >nsfw neko</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/orgy?apikey=APIKEY" target="_blank" >nsfw orgy</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/panties?apikey=APIKEY" target="_blank" >nsfw panties</a>
		                <a class="collapse-item" target="_blank" href="/api/nsfw/pussy?apikey=APIKEY" target="_blank" >nsfw pussy</a>
		                <a class="collapse-item" target="_blank" href="/api/nsfw/neko2?apikey=APIKEY" target="_blank" >nsfw neko2</a>
		                <a class="collapse-item" target="_blank" href="/api/nsfw/tentacles?apikey=APIKEY" target="_blank" >nsfw tentacles</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/thighs?apikey=APIKEY" target="_blank" >nsfw things</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/yuri?apikey=APIKEY" target="_blank" >nsfw yuri</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/zettai?apikey=APIKEY" target="_blank" >nsfw zettai</a>
          </div>
        </div>
      </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseImage" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-fw fa-cat"></i>
                    <span>Random Anime</span>
                </a>
                <div id="collapseImage" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Wibu</h6>
                        <a class="collapse-item" target="_blank" href="/api/random/cosplay?apikey=APIKEY" target="_blank" >Random Cosplay</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/waifu?apikey=APIKEY" target="_blank" >Waifu</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/waifu2?apikey=APIKEY" target="_blank" >Waifu2</a>                       
<a class="collapse-item" target="_blank" href="/api/wallpaper/shota?apikey=APIKEY" target="_blank" >shota</a>
		        <a class="collapse-item" target="_blank" href="/api/wallpaper/loli?apikey=APIKEY" target="_blank" >anime loli</a>
	           <a class="collapse-item" target="_blank" href="/api/wallpaper/yotsuba?apikey=APIKEY" target="_blank" >Random yotsuba</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/shinomiya?apikey=APIKEY" target="_blank" >Random shinomiya</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/yumeko?apikey=APIKEY" target="_blank" >Random yumeko</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/tejina?apikey=APIKEY" target="_blank" >Random tejina</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/chiho?apikey=APIKEY" target="_blank" >Random chiho</a>
      <a class="collapse-item" target="_blank" href="/api/wallpaper/boruto?apikey=APIKEY" target="_blank" >Random boruto</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/kaori?apikey=APIKEY" target="_blank" >Random kaori</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/shizuka?apikey=APIKEY" target="_blank" >Random shizuka</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/kaga?apikey=APIKEY" target="_blank" >Random kaga</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/kotori?apikey=APIKEY" target="_blank" >Random kotori</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/mikasa?apikey=APIKEY" target="_blank" >Random mikasa</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/akiyama?apikey=APIKEY" target="_blank" >Random akiyama</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/gremory?apikey=APIKEY" target="_blank" >Random gremory</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/isuzu?apikey=APIKEY" target="_blank" >Random isuzu</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/shina?apikey=APIKEY" target="_blank" >Random shina</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/kagura?apikey=APIKEY" target="_blank" >Random kagura</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/shinka?apikey=APIKEY" target="_blank" >Random shinka</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/eba?apikey=APIKEY" target="_blank" >Random eba</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/elaina?apikey=APIKEY" target="_blank" >Random elaina</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/yuri?apikey=APIKEY" target="_blank" >Random yuri</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/erza?apikey=APIKEY" target="_blank" >Random erza</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/hinata?apikey=APIKEY" target="_blank" >Random hinata</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/minato?apikey=APIKEY" target="_blank" >Random minato</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/naruto?apikey=APIKEY" target="_blank" >Random Naruto</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/sagiri?apikey=APIKEY" target="_blank" >Random Sagiri</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/nezuko?apikey=APIKEY" target="_blank" >Random nezuko</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/rize?apikey=APIKEY" target="_blank" >Random rize</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/ana?apikey=APIKEY" target="_blank" >Random Anna</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/deidara?apikey=APIKEY" target="_blank" >Random Deidara</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/yuki?apikey=APIKEY" target="_blank" >Random Yuki</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/ana?apikey=APIKEY" target="_blank" >Random Anna</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/asuna?apikey=APIKEY" target="_blank" >Random Asuna</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/ayuzawa?apikey=APIKEY" target="_blank" >Random Ayuzawa</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/chitoge?apikey=APIKEY" target="_blank" >Random Chitoge</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/emilia?apikey=APIKEY" target="_blank" >Random Emilia</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/hestia?apikey=APIKEY" target="_blank" >Random hestia</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/inori?apikey=APIKEY" target="_blank" >Random inori</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/itachi?apikey=APIKEY" target="_blank" >Random itachi</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/madara?apikey=APIKEY" target="_blank" >Random Madara</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/sakura?apikey=APIKEY" target="_blank" >Random sakura</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/sasuke?apikey=APIKEY" target="_blank" >Random Sasuke</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/tsunade?apikey=APIKEY" target="_blank" >Random Tsunade</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/onepiece?apikey=APIKEY" target="_blank" >Random one piece</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/mobil?apikey=APIKEY" target="_blank" >Random mobil</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/montor?apikey=APIKEY" target="_blank" >Random montor</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/boneka-chucky?apikey=APIKEY" target="_blank" >Random boneka chucky</a>
                                                <a class="collapse-item" target="_blank" href="/api/wallpaper/keneki?apikey=APIKEY" target="_blank" >Random keneki</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/megumin?apikey=APIKEY" target="_blank" >Random Megumin</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/toukachan?apikey=APIKEY" target="_blank" >Random toukachan</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/akira?apikey=APIKEY" target="_blank" >Random akira</a>
		                <a class="collapse-item" target="_blank" href="/api/wallpaper/itori?apikey=APIKEY" target="_blank" >Random itori</a>
		                <a class="collapse-item" target="_blank" href="/api/wallpaper/kurumi?apikey=APIKEY" target="_blank" >Random kurumi</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/miku?apikey=APIKEY" target="_blank" >Random miku</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/pokemon?apikey=APIKEY" target="_blank" >Random pokemon</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSticker" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fas fa-smile"></i>
                    <span>Sticker & Canvas</span>
                </a>
                <div id="collapseSticker" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Sticker</h6>
                        <a class="collapse-item" target="_blank" href="/api/maker/ttp?text=Rey&apikey=APIKEY" target="_blank" >TTP maker</a>
                        <a class="collapse-item" target="_blank" href="/api/maker/attp?text=Rey&apikey=APIKEY" target="_blank" >ATTP MAKER</a>
                        <a class="collapse-item" target="_blank" href="/api/canvas/welcome?username=Reyganz&memberCount=257&gcname=Whatsapp Bot Nodejs&bg=&pp=https://avatars.githubusercontent.com/u/85196372?s=400&u=7ccec6bcffa37e5c4517d9ed53698944070b7063&v=4.jpg&pp=https://avatars.githubusercontent.com/u/85196372?s=400&u=7ccec6bcffa37e5c4517d9ed53698944070b7063&v=4.jpg&gcicon=https://avatars.githubusercontent.com/u/85196372?s=400&u=7ccec6bcffa37e5c4517d9ed53698944070b7063&v=4.jpg&apikey=APIKEY" target="_blank" >Welcome Canvas</a>
                  </div>
                </div>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Contact
            </div>
            <li class="nav-item">
                <a class="nav-link" href="https://t.me/asuuu">
                    <i class="fab fa-fw fa-telegram-plane"></i>
                    <span>Telegram</span>
                </a>
            </li>
            <hr class="sidebar-divider">
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
            <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
            <ul class="navbar-nav ml-auto">
              <div class="topbar-divider d-none d-sm-block"></div>
              <li class="nav-item dropdown no-arrow">
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-success badge-counter">2 </span>
              </a>
                 <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header bg-info-gradient">
                  INFO CENTER
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-danger">
                      <i class="fas fa-info-circle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">February 19, 2020</div>
                    <span style="font-size:12px;">Apikey: apirey</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-danger">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">February 19, 2020</div>
                    <span style="font-size:14px;">Launching API's</span>
                  </div>
                </a>
              </div>
            </li>
            </ul>
  </nav>
                <!-- Sidebar -->

                    <!-- Container Fluid-->
                    <div class="container-fluid" id="container-wrapper">
                        <div class="card h-50 mb-4">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col mr-2">
                    <h3 style="margin-bottom: 0;"><i class="fas fa-ruler text-danger"></i>README</h3>
    
                    <div class="card-body mb-3">
                        <ol>
                            <li>Mohon untuk tidak spam APIKeys</li>
                            <li>Jika APIkeys invalid hubungi saya</li>
                            <li>Semua fitur yang ada di sini free dan unlimited request</li>
                            <li>Rest API sewaktu waktu akan maintenance</li>
                            <li>udah itu aja</li>
                        </ol>
                    </div>
                                    </div>
                                    <div class="col-auto">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Visitor</div>
                                            <div class="h5 mb-0 font-weight-bold">292772372</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-user faa-ring animated fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Requests</div>
                                            <div class="h5 mb-0 font-weight-bold">83663372</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar faa-wrench animated fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Row-->
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            Someone want to donate me?
                            <p>
                                <a href="https://trakteer.id/erzabot" class="btn btn-primary btn-sm mr-2" target="_blank"><i class="fa fa-fw fa-wallet"></i>&nbsp;Trakteer</a>
                                <a href="https://paypal.me/anjay" class="btn btn-primary btn-sm ml-2" target="_blank"><i class="fab fa-fw fa-paypal"></i>&nbsp;Paypal</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!---Container Fluid-->
            </div>
            <!-- Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        Made with <i class="fa fa-heart faa-flash animated"></i> by
                        <a href="https://github.com/inirey" target="_blank" style="color: #fff;">Reyyyy</a>
                        </span>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="https://inirey.github.io/lolhuman/vendor/jquery/jquery.min.js"></script>
    <script src="https://inirey.github.io/lolhuman/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://inirey.github.io/lolhuman/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://inirey.github.io/lolhuman/js/ruang-admin.min.js"></script>
</body>

</html>
