
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Scraper Free Rest Api's">
  <meta name="author" content="Rey Ganz">
  <base href="/api">
  <title>Rey API's</title>
  <link href="https://i.ibb.co/KytnPXF/fdeb31c677579bb7c3dbda902795eea8.jpg" rel="icon">
  <link href="https://indrijunanda.github.io/RuangAdmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://indrijunanda.github.io/RuangAdmin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="https://indrijunanda.github.io/RuangAdmin/css/ruang-admin.min.css" rel="stylesheet">
  <meta property="og:title" content="Rey API's">
  <meta property="og:description" content="FREE REST API TOOLS & DOWNLOADER ONLINE">
  <meta property="og:image" content="https://i.ibb.co/KytnPXF/fdeb31c677579bb7c3dbda902795eea8.jpg">
  <meta property="og:url" content="#">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/androidstudio.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>

<body id="page-top">
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5fee5a40df060f156a92e37e/1eqth13e6';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
   <div id="wrapper" >
	<!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center bg-warning" href="/">
        <div class="sidebar-brand-icon">
          <img src="https://i.ibb.co/KytnPXF/fdeb31c677579bb7c3dbda902795eea8.jpg">
        </div>
        <div class="sidebar-brand-text mx-3">Rey API's</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="/api">
          <i class="fas fa-fw fa-code text-warning"></i>
          <span class="text-warning">Documentation</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading text-warning">
        Features
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
          aria-expanded="true" aria-controls="collapseBootstrap">
          <i class="fas fa-fw fa-arrow-down text-warning"></i>
          <span class="text-warning">Sosial Media API</span>
        </a>
        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">SosMed Features</h6>
			<a class="collapse-item text-warning" href="/api/music/joox?query=akad&apikey=apirey" target="_blank" >Joox search</a>
			<a class="collapse-item text-warning" href="/api/download/ytmp4?url=https://youtu.be/6l5V3BWDcMw&apikey=apirey" target="_blank" >Youtube Video</a>
			<a class="collapse-item text-warning" href="/api/download/ytmp3?url=https://youtu.be/6l5V3BWDcMw&apikey=apirey" target="_blank" >Youtube Audio</a>
			<a class="collapse-item text-warning" href="/api/music/spotify?query=akad&apikey=apirey" target="_blank" >Spotify search</a>
			<a class="collapse-item text-warning" href="/api/yt/playmp3?query=surender&apikey=apirey" target="_blank" >play mp3</a>
            <a class="collapse-item text-warning" href="/api/yt/playmp4?query=surender&apikey=apirey" target="_blank" >play mp4</a>
			<a class="collapse-item text-warning" href="/api/yt/search?query=surender&apikey=apirey" target="_blank" >yt search</a>
            <a class="collapse-item text-warning" href="/api/download/tiktok?url=https://www.tiktok.com/@graciajessicajane/video/6910824586909076738?sender_device=pc&sender_web_id=6911703472580724225&is_from_webapp=v2&apikey=apirey" target="_blank" >Tiktok download</a>
            <a class="collapse-item text-warning" href="/api/media/twimg?url=/api/download/ig?url=https://www.instagram.com/p/CAAZ1VcA2OA&apikey=apirey" target="_blank" >Instagram download</a>
            <a class="collapse-item text-warning" href="/api/download/fb?url=https://www.facebook.com/botikaonline/videos/837084093818982&apikey=apirey" target="_blank" >Facebook download</a>
            <a class="collapse-item text-warning" href="/api/stalk/ig?username=attahalilintar&apikey=apirey" target="_blank" >Stalk Instagram</a>
			<a class="collapse-item text-warning" href="/api/stalk/tiktok?username=attahalilintar&apikey=apirey" target="_blank" >stalk tiktok</a>
      <a class="collapse-item text-warning" href="/api/stalk/npm?query=Rey&apikey=apirey" target="_blank" >stalk npm</a>
      </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true"
          aria-controls="collapseForm">
          <i class="fas fa-fw fa-heading text-warning"></i>
          <span class="text-warning">Text Pro Me API</span>
        </a>
        <div id="collapseForm" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Text Pro Me Features</h6>
            <a class="collapse-item text-warning" href="/api/textpro/logo-wolf?text=Rey&text2&apikey=apirey" target="_blank" >Logo Wolf</a>
            <a class="collapse-item text-warning" href="/api/textpro/natural-leavest?text=reyganz&apikey=apirey" target="_blank" >Natural leavest</a>
            <a class="collapse-item text-warning" href="/api/textpro/logo-wolf2?text=Rey&text2&apikey=apirey" target="_blank" >Logo Wolf 2</a>
            <a class="collapse-item text-warning" href="/api/textpro/harry-potter?text=Reyganz&apikey=apirey" target="_blank" >Harry Potter</a>
            <a class="collapse-item text-warning" href="/api/textpro/3dstone?text=Reyganz&apikey=apirey" target="_blank" >3D stone</a>
            <a class="collapse-item text-warning" href="/api/textpro/1917?text=Reyganz&apikey=apirey" target="_blank" >1917</a>
            <a class="collapse-item text-warning" href="/api/textpro/thunder2?text=reyganz&apikey=apirey" target="_blank" >Thunder 2</a>
            <a class="collapse-item text-warning" href="/api/textpro/space?text=Rey&text2=ganz&apikey=apirey" target="_blank" >Space</a>
            <a class="collapse-item text-warning" href="/api/textpro/joker-logo?text=Reyganz&apikey=apirey" target="_blank" >Joker logo</a>
            <a class="collapse-item text-warning" href="/api/textpro/hallowen?text=Reyganz&apikey=apirey" target="_blank" >hallowen</a>
            <a class="collapse-item text-warning" href="/api/textpro/blood?text=Reyganz&apikey=apirey" target="_blank" >Blood text</a>
            <a class="collapse-item text-warning" href="/api/textpro/astone?text=Reyganz&apikey=apirey" target="_blank" >Astone</a>
            <a class="collapse-item text-warning" href="/api/textpro/grafity-text?text=reyyy&apikey=apirey" target="_blank" >Grafity text</a>
            <a class="collapse-item text-warning" href="/api/textpro/grafity-text2?text=reyyy&text2=ganz&apikey=apirey" target="_blank" >Grafity text2</a>
            <a class="collapse-item text-warning" href="/api/textpro/ninja-logo?text=reyyy&text2=ganzzz&apikey=apirey" target="_blank" >Ninja logo</a>
            <a class="collapse-item text-warning" href="/api/textpro/lion-logo?text=reyyy&text2=ganzz&apikey=apirey" target="_blank" >lion logo</a>
            <a class="collapse-item text-warning" href="/api/textpro/avengers-logo?text=rey&text2=ganz&apikey=apirey" target="_blank" >Avengers</a>
            <a class="collapse-item text-warning" href="/api/textpro/marvel-logo2?text=Rey&text2=ganz" target="_blank" >Marvel studio</a>

        </div>
        </div>
      </li>
	  <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEdu" aria-expanded="true"
          aria-controls="collapseEdu">
          <i class="fas fa-fw fa-book text-warning"></i>
          <span class="text-warning">Educational API</span>
        </a>
        <div id="collapseEdu" class="collapse" aria-labelledby="headingEdu" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Educational Features</h6>
            <a class="collapse-item text-warning" href="/api/edu/idwiki?query=soekarno" target="_blank" >Wikipedia Indo</a>
			<a class="collapse-item text-warning" href="/api/edu/enwiki?query=soekarno" target="_blank" >Wikipedia Eng (erorr)</a>
			<a class="collapse-item text-warning" href="/api/edu/corona?country=indonesia" target="_blank" >Corona Country (erorr)</a>
			<a class="collapse-item text-warning" href="/api/edu/resep?query=tahu" target="_blank" >Resep Makanan (erorr)</a>
			<a class="collapse-item text-warning" href="/api/edu/translate?lang=en&text=nama saya aruga" target="_blank" >Translate (erorr)</a>
			<a class="collapse-item text-warning" href="/api/edu/kbbi?query=asu" target="_blank" >KBBI (erorr)</a>
          </div>
        </div>
      </li>
	  <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRandomT" aria-expanded="true"
          aria-controls="collapseRandomT">
          <i class="fas fa-fw fa-random text-warning"></i>
          <span class="text-warning">Random Text API</span>
        </a>
        <div id="collapseRandomT" class="collapse" aria-labelledby="headingRandomT" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Random Features</h6>
			<a class="collapse-item text-warning" href="/api/random/text/fancytext?text=aruga" target="_blank" >Fancy Text</a>
			<a class="collapse-item text-warning" href="/api/random/text/quotes" target="_blank" >Quotes</a>
			<a class="collapse-item text-warning" href="/api/random/text/pantun" target="_blank" >Pantun</a>
			<a class="collapse-item text-warning" href="/api/random/text/katabijak" target="_blank" >Kata Bijak</a>
			<a class="collapse-item text-warning" href="/api/random/text/faktaunik" target="_blank" >Fakta Uniq</a>
          </div>
        </div>
      </li>
	  <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFlam" aria-expanded="true"
          aria-controls="collapseFlam">
          <i class="fas fa-fw fa-bold text-warning"></i>
          <span class="text-warning">Flamingtext API</span>
        </a>
        <div id="collapseFlam" class="collapse" aria-labelledby="headingFlam" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Flamingtext Features</h6>
            <a class="collapse-item text-warning" href="/api/flamingtext/wroom?text=Rey" target="_blank" >Wroom</a>
			<a class="collapse-item text-warning" href="/api/flamingtext/text3d?text=rey" target="_blank" >3D Text</a>
			<a class="collapse-item text-warning" href="/api/flamingtext/water?text=rey" target="_blank" >Water</a>
			<a class="collapse-item text-warning" href="/api/flamingtext/blackbird?text=rey" target="_blank" >Blackbird</a>
			<a class="collapse-item text-warning" href="/api/flamingtext/smurf?text=rey" target="_blank" >Smurf</a>
			<a class="collapse-item text-warning" href="/api/flamingtext/memories?text=rey" target="_blank" >Memories</a>
          </div>
        </div>
      </li>
	  <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAnime" aria-expanded="true"
          aria-controls="collapseAnime">
          <i class="fab fa-fw fa-buysellads text-warning"></i>
          <span class="text-warning">Anime&Manga API</span>
        </a>
        <div id="collapseAnime" class="collapse" aria-labelledby="headingAnime" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Cartoons Features</h6>
			<a class="collapse-item text-warning" href="/api/anime/animequotes" target="_blank" >Anime Quotes</a>
			<a class="collapse-item text-warning" href="/api/anime/mangasusu/latest" target="_blank" >Mangasusu.co latest</a>
			<a class="collapse-item text-warning" href="/api/anime/mangasusu/image?url=https://m.mangasusu.co/manga/secret-class/chapter-54" target="_blank" >Mangasusu.co image</a>
            <a class="collapse-item text-warning" href="/api/anime/komiku/search?query=kanojo" target="_blank" >Komiku.id Scraper</a>
			<a class="collapse-item text-warning" href="/api/anime/komiku/image?url=https://komiku.id/ch/sekai-ka-kanojo-ka-erabenai-chapter-39-bahasa-indonesia/" target="_blank" >Komiku.id Image</a>
		    <a class="collapse-item text-warning" href="/api/anime/nekopoi/random" target="_blank" >Nekopoi Random</a>
			<a class="collapse-item text-warning" href="/api/anime/nekopoi/detail?url=https://nekopoi.care/tsunpuri-episode-1-subtitle-indonesia/" target="_blank" >Nekopoi Detail</a>
      <a class="collapse-item text-warning" href="/api/anime/kusonime/search?query=naruto" target="_blank">Kusonime Scraper</a>
      <a class="collapse-item text-warning" href="/api/anime/kusonime/detail?url=https://kusonime.com/naruto-shippuuden-movie3-sub-indo-1/" target="_blank">Kusonime Detail</a>
		  </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePrimb" aria-expanded="true"
          aria-controls="collapsePrimb">
          <i class="fas fa-fw fa-bold text-warning"></i>
          <span class="text-warning">Primbon API</span>
        </a>
        <div id="collapsePrimb" class="collapse" aria-labelledby="headingPrimb" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Primbon Features</h6>
            <a class="collapse-item text-warning" href="/api/primbon/artinama?name=aruga" target="_blank" >Arti Nama</a>
            <a class="collapse-item text-warning" href="/api/primbon/nomorhoki?nomor=081316691669" target="_blank" >Nomor Hoki</a>
            <a class="collapse-item text-warning" href="/api/primbon/tafsirmimpi?mimpi=belanja" target="_blank" >Tafsir Mimpi</a>
            <a class="collapse-item text-warning" href="/api/primbon/ramalanjodoh?nama1=aruga&tgl1=17-10-2002&nama2=kocakz&tgl2=7-9-2003" target="_blank" >Ramalan Jodoh</a>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider">
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top bg-warning">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            
            <div class="topbar-divider d-none d-sm-block"></div>
<li class="nav-item dropdown no-arrow mx-1">
<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="alertsDropdown" role="button">
<i class="fas fa-bell fa-fw"></i>
<span class="badge badge-danger badge-counter">3+</span>
</a>
<div aria-labelledby="alertsDropdown" class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in">
<h6 class="dropdown-header">
                  Alerts Center
                </h6>
<a class="dropdown-item d-flex align-items-center">
<div class="mr-3">
<div class="icon-circle bg-warning">
<i class="fas fa-file-alt text-white"></i>
</div>
</div>
<div>
<div class="small text-gray-500">October 25, 2020</div>
Online APi's Tools is finishing
</div>
</a>
<a class="dropdown-item d-flex align-items-center">
<div class="mr-3">
<div class="icon-circle bg-warning">
<i class="fas fa-exclamation-triangle text-white"></i>
</div>
</div>
<div>
<div class="small text-gray-500">October 25, 2020</div>
Report if there are errors on this website to Admin
</div>
</a>
<a class="dropdown-item d-flex align-items-center">
<div class="mr-3">
<div class="icon-circle bg-warning">
<i class="fas fa-podcast text-white"></i>
</div>
</div>
<div>
<div class="small text-gray-500">November 1, 2020</div>
In the future, Apikey UNLIMITED!
</div>
</a>
<!-- <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a> -->
</div>
</li>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="https://i.ibb.co/KytnPXF/fdeb31c677579bb7c3dbda902795eea8.jpg" style="max-width: 100px">
                <span class="ml-2 d-none d-lg-inline text-white small">Rey API</span>
              </a>
            </li>
          </ul>
        </nav>        
        <!-- Topbar -->

        <!-- Container Fluid-->

        <div class="container-fluid" id="container-wrapper">
          <!-- Attention -->
          <div id="demo" class="alert alert-warning alert-dismissible" role="alert">
        <script>
arrBulan = ["Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember"];
var txt = "";
txt += "<p><b>Browser CodeName</b>: " + navigator.appCodeName + "</p>";
txt += "<p><b>Browser Name</b>: " + navigator.appName + "</p>";
txt += "<p><b>Cookies Enabled</b>: " + navigator.cookieEnabled + "</p>";
txt += "<p><b>Browser Online</b>: " + navigator.onLine + "</p>";
txt += "<p><b>Platform</b>: " + navigator.platform + "</p>";
txt += "<p><b>User-agent header</b>: " + navigator.userAgent + "</p>";
var d = new Date();
const jam = d.getHours();
const menit = d.getMinutes();
const detik = d.getSeconds();
const tgl = d.getDate();
const bln = d.getMonth();
const thn = d.getFullYear();
const bulan = arrBulan[bln]
document.write(txt)
document.write("Date : "+ jam +":"+ menit +":"+ detik +"~"+ tgl +"-"+ bulan +"-"+ thn +"<br>Welcome back!")</script>
          </div>
        
          <div class="row">
            <div class="col-lg-6">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-sm-between">
                </div>
                <div class="card-body">
                  <h6 class="m-0 font-weight-bold text-warning">Example!</h6>
				<div class="my-2"></div>
				<code class="text-center"> [ Python ] : </code>
				<pre>
				<code class="python">
from requests import get
url = get('https://www.reysekha.xyz/api/blablabla').json()
print(url)
				</code>
				</pre>
				<code class="text-center"> [ PHP ] : </code>
				<pre>
				<code class="plain-text">
$url = 'https://www.reysekha.xyz/api/blabla';
$curl = curl_init($url);
curl_setopt($curl, CURLOPT_RETURNTRANSFER, true);
curl_setopt($curl, CURLOPT_HTTPHEADER, [
 'Content-Type: application/json'
]);
$response = curl_exec($curl);
curl_close($curl);
echo $response . PHP_EOL; // appear response
				</code>
				</pre>
				<code class="text-center"> [ Node JS ] : </code>
				<pre>
				<code class="javascript">
const axios = require('axios');
axios.get('https://www.reysekha.xyz/api/blablabla')
.then(res => {
  console.log(res.data)
})
.catch(err => {
  console.log(err)
})
				</code>
				</pre>
                </div>
              </div>
            </div>
		  
            <div class="col-lg-6">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-sm-between">
                </div>
                <div class="card-body">
					<h6 class="m-0 font-weight-bold text-warning">Bantu gan!</h6>
					<br>
					<h6 class="m-0 font-weight-bold text-warning"> 
						Support yo:
					</h6>
					<br>
					<a class="btn btn-warning btn-icon-split" href="https://trakteer.id/erzabot" target="_blank">
						<span class="icon text-white-50">
							<i class="fas fa-money-bill">
							</i>
						</span>
						<span class="text">
							Trakteer
						</span>
					</a>
					<br>
					<br>
					<a class="btn btn-warning btn-icon-split" href="https://paypal.me/erzabot" target="_blank">
						<span class="icon text-white-50">
							<i class="fas fa-credit-card" aria-hidden="true">
							</i>
						</span>
						<span class="text">
							Paypal
						</span>
					</a>
					<br>
					<br>
					<br>
					<h6 class="m-0 font-weight-bold text-warning"> 
						Sosial Media:
					</h6>
					<br>
					<a class="btn btn-warning btn-icon-split" href="https://youtube.com/c/Rey sekha" target="_blank">
						<span class="icon text-white-50">
							<i class="fab fa-youtube">
							</i>
						</span>
						<span class="text">
							Youtube
						</span>
					</a>
					<br>
					<br>
					<a class="btn btn-warning btn-icon-split" href="https://instagram.com/_sekhaa" target="_blank">
						<span class="icon text-white-50">
							<i class="fab fa-instagram">
							</i>
						</span>
						<span class="text">
							Instagram
						</span>
					</a>
					<br>
					<br>
					<a class="btn btn-warning btn-icon-split" href="https://github.com/inirey" target="_blank">
						<span class="icon text-white-50">
							<i class="fab fa-github">
							</i>
						</span>
						<span class="text">
							Github
						</span>
					</a>
					<br>
					<br>
					<a class="btn btn-warning btn-icon-split" href="https://www.reysekha.xyz" target="_blank">
						<span class="icon text-white-50">
							<i class="fas fa-rss" aria-hidden="true">
							</i>
						</span>
						<span class="text">
							Blog
						</span>
					</a>
					<br>
					<br>
					<br>
					<br>
					<div class="alert alert-warning" role="alert">
          <!--Row-->

          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <!---Container Fluid-->   
            <!-- Progress bars with multiple bars -->
            <!--- <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-danger">Perjuangan aku ke kalian.</h6>
                </div>
                <div class="card-body">
                  <p>API ini gratis, jadi kalau ada yang error kabarin aja.
                    <code>.api-aku</code> kasih ke <code>.program-kamu</code></p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                      aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-danger">Support kalian ke aku.</h6>
                </div>
                <div class="card-body">
                  <p>support kalian
                    <code>.donasi-kalian</code> ke <code>.dompet-aku</code></p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                      aria-valuenow="3" aria-valuemin="0" aria-valuemax="100" style="width: 3%"></div>
                  </div>

                </div>
              </div>
            </div> --->

            <!--- <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Your message</label>
                      <textarea class="form-control" name="text" id="text" rows="3"></textarea>
                      <small id="emailHelp" class="form-text text-muted">Chat langsung to the point aja! Fast respon kok :)</small>
                      </div>
                    <div class="form-group">
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-gradient-warning" id="send"><i class="fab fa-fw fa-whatsapp"></i>&nbsp;WhatsApp</button>
                    </div>
                  </form>
                </div>
              </div>
            </div> --->

        <!---Container Fluid-->
		
      <!-- Footer -->
      <footer class="sticky-footer bg-warning">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span class="text-white">copyright &copy; <script>document.write(new Date().getFullYear());</script> -<b><a class="text-white" href="https://instagram.com/_sekhaa" target="_blank"> Rey</a></b></span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="https://indrijunanda.github.io/RuangAdmin/vendor/jquery/jquery.min.js"></script>
  <script src="https://indrijunanda.github.io/RuangAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://indrijunanda.github.io/RuangAdmin/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="https://indrijunanda.github.io/RuangAdmin/js/ruang-admin.min.js"></script>


</body>

</html>
